.c-txt-page-title {
    @extend %m-0;
    @extend %lg\:fsz-56;
    @extend %lsp-big;
    @extend %lh-small;
    @extend %tt-upper;
    @extend %fw-bold;
    font-family: 'Poppins', Arial, sans-serif;
}

.c-txt-page-title-hind {
    @extend %m-0;
    @extend %lg\:fsz-56;
    @extend %lsp-big;
    @extend %lh-small;
    @extend %tt-upper;
    @extend %fw-bold;
    font-family: 'Hind', Arial, sans-serif;
}

.c-txt-section-title {
    @extend %m-0;
    @extend %fsz-24;
    @extend %lg\:fsz-36;
    @extend %lh-small;
    @extend %fw-normal;
}

.c-txt-section-subtitle {
    @extend %m-0;
    @extend %fsz-18;
    @extend %lg\:fsz-24;
    @extend %lh-big;
    @extend %fw-normal;
}

.c-txt-body {
    @extend %m-0;
    @extend %fsz-16;
    @extend %lg\:fsz-18;
    @extend %lh-big;
    @extend %lg\:lh-bigger;
    @extend %fw-normal;
}

.c-txt-small {
    @extend %m-0;
    @extend %fsz-14;
    @extend %lh-big;
    @extend %fw-normal;
}

.c-txt-label {
    @extend %m-0;
    font-size: 11px;
    @extend %lg\:fsz-12;
    @extend %lsp-big;
    @extend %tt-upper;
    @extend %fw-semibold;
}

.c-txt-label--poppins {
    @extend %fw-bold;
    font-family: 'Poppins', Arial, sans-serif;
}