@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'),local('Montserrat-Light'),url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE-LrC4Du4e_yfTJ8Ol60xk0.ttf) format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'),local('Montserrat-Regular'),url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'),local('Montserrat-Medium'),url(https://fonts.gstatic.com/s/montserrat/v10/BYPM-GE291ZjIXBWrtCwetIZ6OFpBzzPr7LueGMiD8k.ttf) format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'),local('Montserrat-SemiBold'),url(https://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl07h9hBNNhK4RjzVManoH7kY.ttf) format('truetype');
}

.btn {
  padding: 0 20px;
  display: inline-block;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  border: none;
  box-sizing: border-box;
  transition: background .2s,box-shadow .2s;
}

.btn.active,
.btn:active,
.btn:focus,
.btn:hover {
  outline: 0!important;
  box-shadow: none;
  text-decoration: none;
}

.btn-static-default {
  border: 2px solid #8994c6;
  color: #3e396b;
  background-color: transparent;
  line-height: 36px;
}

.btn-static-tertiary {
  border: none;
}

.btn-static-default:focus,
.btn-static-default:hover {
  color: #3e396b;
  background-color: rgba(137,148,198,.3);
}

.btn-static-primary:focus,
.btn-static-primary:hover {
  color: #fff;
  background-image: linear-gradient(284deg,#1cc7d0,#2dde98);
}

.btn-static-primary.active,
.btn-static-primary:active {
  background-image: linear-gradient(284deg,#1ab6be,#21d58e);
}

.btn-static-secondary:focus,
.btn-static-secondary:hover {
  color: #fff;
  background-image: linear-gradient(80deg,#00aeff,#3369e7);
}

.btn-static-primary.btn-shadow {
  box-shadow: 0 2px 6px 0 rgba(45,222,152,.4);
}

.btn-static-primary.btn-shadow:focus,
.btn-static-primary.btn-shadow:hover {
  box-shadow: 0 4px 12px rgba(45,222,152,.4);
}

.btn-static-secondary.active,
.btn-static-secondary:active {
  background-image: linear-gradient(80deg,#00a0eb,#215ce5);
}

.btn-static-tertiary,
.btn-static-tertiary:focus,
.btn-static-tertiary:hover {
  background-image: linear-gradient(112deg,#ff4f81,#ff6c5f);
  color: #fff;
}

.btn-static-secondary.btn-shadow {
  box-shadow: 0 2px 6px 0 rgba(51,105,231,.4);
}

.btn-static-secondary.btn-shadow:focus,
.btn-static-secondary.btn-shadow:hover {
  box-shadow: 0 4px 12px rgba(51,105,231,.4);
}

.btn-static-tertiary.active,
.btn-static-tertiary:active {
  background-image: linear-gradient(112deg,#ff3b72,#ff594b);
}

.btn-static-tertiary.btn-shadow {
  box-shadow: 0 2px 6px 0 rgba(255,108,95,.4);
}

.btn-static-tertiary.btn-shadow:focus,
.btn-static-tertiary.btn-shadow:hover {
  box-shadow: 0 4px 12px rgba(255,108,95,.4);
}

.btn-static-inverse,
.btn-static-inverse.active,
.btn-static-inverse:active,
.btn-static-inverse:focus,
.btn-static-inverse:hover {
  color: #fff;
}

.btn-static-dark {
  color: #fff;
  background-color: #050f2c;
  background-image: linear-gradient(283deg,#050f2c,#3e396b);
  border-color: #050f2c;
}

.btn-static-dark:focus,
.btn-static-dark:hover {
  color: #fff;
  background-color: #3e396b;
  border-color: #3e396b;
}

.btn-static-dark.btn-shadow {
  box-shadow: 0 2px 6px 0 rgba(62,57,107,.4);
}

.btn-static-dark.btn-shadow:focus,
.btn-static-dark.btn-shadow:hover {
  box-shadow: 0 4px 12px rgba(62,57,107,.4);
}

.btn-static-white {
  color: #3e396b;
  background-color: #fff;
  border-color: #fff;
}

.btn-static-white:focus,
.btn-static-white:hover {
  color: #3e396b;
}

.btn-static-enterprise {
  color: #fff;
  background-color: #050f2c;
  border: 2px solid #2dde98;
  line-height: 36px;
}

.btn-static-enterprise:focus,
.btn-static-enterprise:hover {
  color: #fff;
  background-color: #2dde98;
  border-color: #2dde98;
}

.btn-circle {
  width: 42px;
  height: 42px;
  padding: 0;
  line-height: 42px;
}

.spacer16,
.spacer32,
.spacer48,
.spacer56,
.spacer64,
.spacer80 {
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.btn-static-shadow-dark {
  box-shadow: 0 2px 6px 0 rgba(5,15,44,.5);
}

.btn-static-shadow-dark:focus,
.btn-static-shadow-dark:hover {
  box-shadow: 0 4px 12px rgba(5,15,44,.5);
}

.btn-static-dark .btn-shadow.active,
.btn-static-dark .btn-static-shadow-dark.active,
.btn-static-dark.active,
.btn-static-dark.btn-shadow:active,
.btn-static-dark.btn-static-shadow-dark:active,
.btn-static-dark:active,
.btn-static-default .btn-shadow.active,
.btn-static-default .btn-static-shadow-dark.active,
.btn-static-default.active,
.btn-static-default.btn-shadow:active,
.btn-static-default.btn-static-shadow-dark:active,
.btn-static-default:active,
.btn-static-enterprise .btn-shadow.active,
.btn-static-enterprise .btn-static-shadow-dark.active,
.btn-static-enterprise.active,
.btn-static-enterprise.btn-shadow:active,
.btn-static-enterprise.btn-static-shadow-dark:active,
.btn-static-enterprise:active,
.btn-static-inverse .btn-shadow.active,
.btn-static-inverse .btn-static-shadow-dark.active,
.btn-static-inverse.active,
.btn-static-inverse.btn-shadow:active,
.btn-static-inverse.btn-static-shadow-dark:active,
.btn-static-inverse:active,
.btn-static-primary .btn-shadow.active,
.btn-static-primary .btn-static-shadow-dark.active,
.btn-static-primary.active,
.btn-static-primary.btn-shadow:active,
.btn-static-primary.btn-static-shadow-dark:active,
.btn-static-primary:active,
.btn-static-secondary .btn-shadow.active,
.btn-static-secondary .btn-static-shadow-dark.active,
.btn-static-secondary.active,
.btn-static-secondary.btn-shadow:active,
.btn-static-secondary.btn-static-shadow-dark:active,
.btn-static-secondary:active,
.btn-static-tertiary .btn-shadow.active,
.btn-static-tertiary .btn-static-shadow-dark.active,
.btn-static-tertiary.active,
.btn-static-tertiary.btn-shadow:active,
.btn-static-tertiary.btn-static-shadow-dark:active,
.btn-static-tertiary:active {
  box-shadow: inset 0 0 4px 2px rgba(5,15,44,.3);
}

.spacer16 {
  height: 16px;
}

.spacer32 {
  height: 32px;
}

.spacer40 {
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  height: 40px;
}

.spacer48 {
  height: 48px;
}

.spacer56 {
  height: 56px;
}

.spacer64 {
  height: 64px;
}

.spacer80 {
  height: 80px;
}

.w100 {
  width: 100px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.line,
.w100p {
  width: 100%;
}

.m100 {
  max-width: 100px;
}

.m200 {
  max-width: 200px;
}

.m300 {
  max-width: 300px;
}

.m400 {
  max-width: 400px;
}

.m500 {
  max-width: 500px;
}

.m600 {
  max-width: 600px;
}

.m700 {
  max-width: 700px;
}

.m800 {
  max-width: 800px;
}

.m900 {
  max-width: 900px;
}

.m1000 {
  max-width: 1000px;
}

.m1200 {
  max-width: 1200px;
}

.m100p,
.text-ellipsis,
legend {
  max-width: 100%;
}

.h100 {
  height: 100px;
}

.h200 {
  height: 200px;
}

.h300 {
  height: 300px;
}

.h400 {
  height: 400px;
}

.h500 {
  height: 500px;
}

.h600 {
  height: 600px;
}

.h700 {
  height: 700px;
}

.h800 {
  height: 800px;
}

.hfull {
  height: 100%;
}

.pos-stc {
  position: static;
}

.h-center,
.pos-abt,
.v-center,
.vh-center {
  position: absolute;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-100 {
  z-index: 100;
}

.text-heading {
  font-size: 56px;
}

.text-xxl {
  font-size: 40px;
}

.text-regular {
  font-size: 15px;
}

.text-sm {
  font-size: 12px;
}

.text-xsm {
  font-size: 10px;
}

.text-xs {
  font-size: 8px;
}

.text-thin {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-demi {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-bolder,
b,
strong {
  font-weight: bolder;
}

.b-t {
  border-top: 1px solid #f8faff;
}

.b-r {
  border-right: 1px solid #f8faff;
}

.b-b {
  border-bottom: 1px solid #f8faff;
}

.b-l {
  border-left: 1px solid #f8faff;
}

.radius100p {
  border-radius: 100%;
}

.padder {
  padding: 0 15px;
}

.p-mini {
  padding: 5px;
}

.p-small {
  padding: 10px;
}

.p-xlarge {
  padding: 30px;
}

.p-t-mini {
  padding-top: 5px;
}

.p-t-small {
  padding-top: 10px;
}

.p-t-large {
  padding-top: 20px;
}

.p-t-xlarge {
  padding-top: 30px;
}

.p-b-mini {
  padding-bottom: 5px;
}

.p-b-small {
  padding-bottom: 10px;
}

.p-b-large {
  padding-bottom: 20px;
}

.p-b-xlarge {
  padding-bottom: 30px;
}

.p-l-small {
  padding-left: 10px;
}

.p-l-xlarge {
  padding-left: 30px;
}

.p-r-small {
  padding-right: 10px;
}

.p-r-large {
  padding-right: 20px;
}

.p-r-xlarge {
  padding-right: 30px;
}

.p-l-xxlarge {
  padding-left: 60px;
}

.p-r-xxlarge {
  padding-right: 60px;
}

.no-padding {
  padding: 0!important;
}

.no-p-l {
  padding-left: 0;
}

.no-p-r {
  padding-right: 0;
}

.no-p-t {
  padding-top: 0;
}

.no-p-b {
  padding-bottom: 0;
}

.m-l {
  margin-left: 15px;
}

.m-l-none {
  margin-left: 0;
}

.m-l-mini {
  margin-left: 5px;
}

.m-l-small {
  margin-left: 10px;
}

.m-l-large {
  margin-left: 20px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-mini {
  margin-left: -5px;
}

.m-l-n-small {
  margin-left: -10px;
}

.m-l-n-large {
  margin-left: -20px;
}

.m-t {
  margin-top: 15px;
}

.m-t-mini {
  margin-top: 5px;
}

.m-t-small {
  margin-top: 10px;
}

.m-t-large {
  margin-top: 20px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-xmini {
  margin-top: -1px;
}

.m-t-n-mini {
  margin-top: -5px;
}

.m-t-n-small {
  margin-top: -10px;
}

.m-t-n-large {
  margin-top: -20px;
}

.m-r {
  margin-right: 15px;
}

.m-r-none {
  margin-right: 0;
}

.m-r-mini {
  margin-right: 5px;
}

.m-r-small {
  margin-right: 10px;
}

.m-r-large {
  margin-right: 20px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-mini {
  margin-right: -5px;
}

.m-r-n-small {
  margin-right: -10px;
}

.m-r-n-large {
  margin-right: -20px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-mini {
  margin-bottom: 5px;
}

.m-b-small {
  margin-bottom: 10px;
}

.m-b-large {
  margin-bottom: 20px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-mini {
  margin-bottom: -5px;
}

.m-b-n-small {
  margin-bottom: -10px;
}

.m-b-n-large {
  margin-bottom: -20px;
}

.no-margin {
  margin: 0!important;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.vertical-align-middle {
  display: inline-block!important;
  vertical-align: middle!important;
}

.vertical-align-bottom {
  display: inline-block!important;
  vertical-align: bottom!important;
}

progress,
sub,
sup {
  vertical-align: baseline;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-break-word {
  word-wrap: break-word;
}

.nowrap {
  word-wrap: nowrap;
  white-space: nowrap;
}

.lower-case {
  text-transform: lowercase;
}

.upper-case,
footer h4 {
  text-transform: uppercase;
}

.hidden-text {
  text-indent: -9999px;
  color: transparent;
}

.line-h-regular {
  line-height: 1.5;
}

.line-h-small {
  line-height: 1.2;
}

.line {
  height: 1px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
  border-width: 0;
  background-color: #f8faff;
}

.line-dashed {
  border-style: dashed;
  background: 0 0;
}

.headline {
  border-bottom: 5px solid #000;
  margin-top: 0;
  line-height: 45px;
}

.no-line {
  border-width: 0;
}

.no-border {
  border-color: transparent!important;
}

.no-radius {
  border-radius: 0;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-none {
  float: none;
}

.pull-in {
  margin-right: -15px;
  margin-left: -15px;
}

.line-v {
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

.line-v-right {
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.flex-container {
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-col {
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex-dir-row {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-space-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-align-center {
  -ms-flex-align: center;
  align-items: center;
}

.flex-it-4 {
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.flex-it-3 {
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
}

.flex-it-2 {
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

@supports not (mix-blend-mode:luminosity) {
  .flex-it-2 {
    -ms-flex: 0 1 49.95%;
    flex: 0 1 49.95%;
  }
}

.flex-it-1 {
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.unscroll {
  overflow: hidden!important;
}

button,
hr,
input {
  overflow: visible;
}

.clickable {
  cursor: pointer;
}

.rotate-45 {
  transform: rotate(45deg);
}

.content-box {
  box-sizing: content-box;
}

.faded {
  opacity: .3;
}

.line-through {
  text-decoration: line-through;
}

.alg-community .alg-communityhit .hit-namelink,
.empty-query a,
.no-decoration,
footer ul a {
  text-decoration: none;
}

.v-center {
  top: 50%;
  transform: translateY(-50%);
}

.h-center {
  left: 50%;
  transform: translateX(-50%);
}

.vh-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width:768px) {
  .hidden-sm {
    display: none!important;
  }

  .visible-sm {
    display: block!important;
  }
}

.hidden {
  visibility: hidden;
}

.ng-cloak,
[ng-cloak],
[ng\:cloak] {
  display: none!important;
}

.list-none {
  list-style: none;
}

.cf:after,
.cf:before {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.elevation0 {
  box-shadow: 0 5px 15px 0 rgba(112,128,175,.2);
}

@media (max-width:768px) {
  .hidden-xs {
    display: none;
  }
}

.color-white {
  color: #fff!important;
}

.color-titan {
  color: #f8faff!important;
}

.color-primary {
  color: #00aeff!important;
}

.color-secondary {
  color: #FA3870!important;
}

.color-purple-heart {
  color: #8e43e7!important;
}

.color-mulberry {
  color: #b84592!important;
}

.color-radical-red {
  color: #ff4f81!important;
}

.color-bittersweet {
  color: #ff6c5f!important;
}

.color-koromiko {
  color: #ffc168!important;
}

.color-shamrock {
  color: #2dde98!important;
}

.color-java {
  color: #1cc7d0!important;
}

.color-algolia-blue {
  color: #00aeff!important;
}

.color-royal-blue {
  color: #3369e7!important;
}

.color-port-gore {
  color: #3a4570!important;
}

.color-east-bay {
  color: #495588!important;
}

.color-portage {
  color: #8994c6!important;
}

.color-blue-bell {
  color: #a6b0d8!important;
}

.color-ghost {
  color: #c4c8d8!important;
}

.color-athens-gray {
  color: #eef0f7!important;
}

.color-current {
  color: currentColor!important;
}

.fill-dark {
  background-color: #3e396b!important;
}

.fill-white {
  background-color: #fff!important;
}

.fill-purple-heart {
  background-color: #8e43e7!important;
}

.fill-mulberry {
  background-color: #b84592!important;
}

.fill-radical-red {
  background-color: #ff4f81!important;
}

.fill-bittersweet {
  background-color: #ff6c5f!important;
}

.fill-koromiko {
  background-color: #ffc168!important;
}

.fill-shamrock {
  background-color: #2dde98!important;
}

.fill-java {
  background-color: #1cc7d0!important;
}

.fill-algolia-blue {
  background-color: #00aeff!important;
}

.fill-royal-blue {
  background-color: #3369e7!important;
}

.fill-deep-cove {
  background-color: #050f2c!important;
}

.fill-bunting {
  background-color: #3e396b!important;
}

.fill-port-gore {
  background-color: #3a4570!important;
}

.fill-east-bay {
  background-color: #495588!important;
}

.fill-portage {
  background-color: #8994c6!important;
}

.fill-blue-bell {
  background-color: #a6b0d8!important;
}

.fill-ghost {
  background-color: #c4c8d8!important;
}

.fill-athens-gray {
  background-color: #eef0f7!important;
}

.gradient-green,
.gradient-primary {
  background-image: linear-gradient(320deg,#2dde98,#25d3b4)!important;
}

.gradient-blue,
.gradient-secondary {
  background-image: linear-gradient(256deg,#00aeff,#3369e7)!important;
}

.gradient-pink,
.gradient-tertiary {
  background-image: linear-gradient(256deg,#ff6c5f,#ff4f81)!important;
}

.gradient-orange {
  background-image: linear-gradient(256deg,#ffc168,#ff6c5f);
}

.gradient-purple {
  background-image: linear-gradient(269deg,#8e43e6,#b84592);
}

.color-gradient-red {
  color: #E1271A;
  background-image: linear-gradient(to bottom,#E39290,#E1271A,#B91E14);
}

[type=checkbox],
[type=radio],
legend {
  box-sizing: border-box;
  padding: 0;
}

button {
  cursor: pointer;
  transition: .1s ease;
}

button:focus {
  outline: 0;
}

button:active {
  transform: scale(.96);
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

article,
aside,
details,
figcaption,
figure,
footer,
menu,
nav,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  color: inherit;
  display: table;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch:active,
.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch:focus,
.alg-community .alg-communityprojects .alg-communityprojects__search input:focus,
footer .email input:focus {
  outline: 0;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@keyframes handAnimation {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(10deg);
  }

  40%, 80% {
    transform: rotate(-10deg);
  }
}

.alg-header .alg-headermenu {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.alg-header .alg-headermenu .alg-headermenu__links {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.alg-header .alg-headermenu .alg-headermenu__links>li {
  padding-right: 16px;
}

.alg-header .alg-headermenu .alg-headermenu__links>li:not(:last-child) {
  margin-right: 2.1875em;
}

.alg-header .alg-headerhome__search {
  margin-right: 2.5em;
}

.alg-header .alg-headerhome__search input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

.alg-community .alg-communityheader .alg-communityheader__container:hover span {
  animation: handAnimation .5s .2s ease forwards;
}

@media (min-width:768px) {
  .alg-community .alg-communityareas {
    display: -ms-flexbox;
    display: flex;
    background-color: #FFF;
  }
}

.alg-community .alg-communityareas:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: calc(100% - 40px);
  transform: translate(-50%,-50%);
  background-color: #DEDEF7;
  width: 1px;
}

.alg-community .alg-communityareas .alg-communityareas__area {
  border-radius: 3px;
  background-color: #FFF;
}

@media (min-width:768px) {
  .alg-community .alg-communityprojects .alg-communityprojects__search {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
}

.alg-community .alg-communityprojects .alg-communityprojects__search h1 {
  color: #3e396b;
  width: 20%;
}

.alg-community .alg-communityprojects .alg-communityprojects__search #alg-community__search {
  -ms-flex: 1;
  flex: 1;
}

.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch {
  position: absolute;
  right: 15px;
  width: 47px;
  height: 47px;
  pointer-events: none;
  background-color: transparent;
  border: none;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 20;
}

.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch:after,
.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch:before {
  width: 35%;
  height: 2px;
  border-radius: 1px;
  background-color: #8994c6;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  z-index: 10;
  pointer-events: none;
}

.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch:before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch:after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.alg-community .alg-communityprojects .alg-communityprojects__search .alg-community--clearSearch.visible:after {
  opacity: 1;
}

.alg-community .alg-communityprojects .alg-communityprojects__search .ais-search-box {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f8faff;
  padding-left: 40px;
}

.alg-community .alg-communityprojects .alg-communityprojects__search .ais-search-box:after {
  color: #3369e7;
  content: "";
  position: absolute;
  width: 44px;
  left: 46px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Community' fill='currentColor' fill-rule='evenodd'%3E%3Cg id='Community-Home' fill='%23182359'%3E%3Cg id='Group-4'%3E%3Cg id='Group-18'%3E%3Cg id='Group-19'%3E%3Cpath d='M13.3806 14.6896c-1.409 1.1858-3.2322 1.901-5.2236 1.901-4.4654 0-8.0853-3.596-8.0853-8.0315 0-4.4356 3.62-8.0314 8.0853-8.0314 4.4654 0 8.0854 3.5958 8.0854 8.0315 0 1.9782-.72 3.7893-1.9137 5.189l1.0594 1.0523.1777-.1764c.1643-.1633.4312-.1627.5955.0005l3.7154 3.6906c.1646.1636.1642.4292.0006.5916l-1.3087 1.3c-.1643.1633-.4312.1627-.5955-.0005l-3.7154-3.6906c-.1646-.1635-.1642-.429-.0006-.5915l.183-.182-1.0594-1.0524zm-5.2236-.301c3.2412 0 5.8688-2.61 5.8688-5.8295 0-3.2195-2.6276-5.8295-5.8688-5.8295s-5.8687 2.61-5.8687 5.8296c0 3.2197 2.6275 5.8297 5.8687 5.8297z' id='Oval-183-Copy-6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  opacity: .5;
}

@media (max-width:768px) {
  .alg-community .alg-communityprojects .alg-communityprojects__search h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
  }

  .alg-community .alg-communityprojects .alg-communityprojects__search .ais-search-box {
    padding-left: 0;
  }

  .alg-community .alg-communityprojects .alg-communityprojects__search .ais-search-box:after {
    left: 6px;
  }
}

.alg-community .alg-communityprojects .alg-communityprojects__search input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #3e396b;
  font-size: 28px;
  padding-left: 60px;
  border-bottom: 1px solid #8994c6;
}

@media (max-width:550px) {
  .alg-community .alg-communityprojects .alg-communityprojects__search input {
    font-size: 20px;
  }
}

.alg-community .alg-communityprojects .alg-communitycontainer {
  max-width: 1160px;
  display: -ms-flexbox;
  display: flex;
  z-index: 500;
}

.alg-community .alg-communityprojects .ais-hits {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.alg-community .alg-communityprojects__facets {
  width: 20%;
  min-width: 20%;
}

@media (max-width:768px) {
  .alg-community .alg-communityprojects .alg-communityprojects__search input {
    padding-left: 44px;
  }

  .alg-community .alg-communityprojects__facets {
    display: none;
  }
}

.alg-community .alg-communityprojects__facets ul {
  list-style-type: none;
  padding-left: 0;
}

.alg-community .alg-communityprojects__facets .ais-menu--item {
  color: #182359;
  position: relative;
  line-height: 2.5em;
  cursor: pointer;
}

.alg-community .alg-communityprojects__facets .ais-menu--item--header .alg-facet__name {
  padding-left: 0;
  font-weight: 700;
}

.alg-community .alg-communityprojects__facets .ais-menu--item a {
  color: inherit;
}

.alg-community .alg-communityprojects__facets .ais-menu--item:hover .alg-facet__tile,
.alg-community .alg-communityprojects__facets .ais-menu--item__active .alg-facet__tile {
  transform: translate(3px,-50%) scaleY(.7);
}

.alg-community .alg-communityprojects__facets .alg-facet-tool .alg-facet__tile {
  background-color: #8e43e7;
}

.alg-community .alg-communityprojects__facets .alg-facet-misc .alg-facet__tile {
  background-color: #2dde98;
}

.alg-community .alg-communityprojects__facets .alg-facet-api-client .alg-facet__tile {
  background-color: #3e396b;
}

.alg-community .alg-communityprojects__facets .alg-facet-learn .alg-facet__tile {
  background-color: #ff4f81;
}

.alg-community .alg-communityprojects__facets .alg-facet-live .alg-facet__tile {
  background-color: #ff6c5f;
}

.alg-community .alg-communityprojects__facets .alg-facet-library .alg-facet__tile {
  background-color: #00aeff;
}

.alg-community .alg-communityprojects__facets .alg-facet-plugin .alg-facet__tile {
  background-color: #3369e7;
}

.alg-community .alg-communityprojects__facets .alg-facet__tile {
  position: absolute;
  left: 4px;
  top: 50%;
  height: 20px;
  width: 3px;
  transform: translate(0,-50%);
  transition: 170ms ease;
}

.alg-community .alg-communityprojects__facets .alg-facet__name {
  display: inline-block;
  padding-left: 14px;
  padding-right: 8px;
  font-size: 14px;
  background-color: #f8faff;
}

.alg-community .alg-communityprojects__facets .alg-facet__name:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 11px;
  border-bottom: 1px dashed #E2E2E2;
  z-index: -1;
}

.alg-community .alg-communityprojects__facets .alg-facet__number {
  float: right;
  color: #9D9DBD;
  padding-left: 3px;
}

.alg-community .alg-communityprojects__hits {
  width: 80%;
  min-width: 80%;
}

@media (max-width:768px) {
  .alg-community .alg-communityprojects__hits {
    width: 100%;
  }
}

.alg-community .alg-communityprojects__hits .alg-communityprojects__hitswrapper {
  margin-bottom: 70px;
}

.alg-community .alg-communityprojects__hits .alg-communityprojects__hitswrapper:hover .alg-communityprojects__hitstype:after {
  transform: scaleX(1.4);
}

.alg-community .alg-communityprojects__hits .alg-communityprojects__hitswrapper .ais-hits--item:nth-child(4)~.ais-hits--item {
  margin-top: 40px;
}

.alg-community .alg-communityprojects__hits .alg-communityprojects__hitswrapper:not(.expanded) .ais-hits--item:nth-child(4)~.ais-hits--item {
  display: none;
}

.alg-community .alg-communityprojects__hits header {
  position: relative;
}

.alg-community .alg-communityprojects__hits .alg-header-tool h3:after {
  background-color: #8e43e7;
}

.alg-community .alg-communityprojects__hits .alg-header-tool .alg-viewmore {
  color: #8e43e7;
}

.alg-community .alg-communityprojects__hits .alg-header-plugin h3:after {
  background-color: #3369e7;
}

.alg-community .alg-communityprojects__hits .alg-header-plugin .alg-viewmore {
  color: #3369e7;
}

.alg-community .alg-communityprojects__hits .alg-header-api-client h3:after {
  background-color: #3e396b;
}

.alg-community .alg-communityprojects__hits .alg-header-api-client .alg-viewmore {
  color: #3e396b;
}

.alg-community .alg-communityprojects__hits .alg-header-learn h3:after {
  background-color: #ff4f81;
}

.alg-community .alg-communityprojects__hits .alg-header-learn .alg-viewmore {
  color: #ff4f81;
}

.alg-community .alg-communityprojects__hits .alg-header-live h3:after {
  background-color: #ff6c5f;
}

.alg-community .alg-communityprojects__hits .alg-header-live .alg-viewmore {
  color: #ff6c5f;
}

.alg-community .alg-communityprojects__hits .alg-header-library h3:after {
  background-color: #00aeff;
}

.alg-community .alg-communityprojects__hits .alg-header-library .alg-viewmore {
  color: #00aeff;
}

.alg-community .alg-communityprojects__hits .alg-header-misc h3:after {
  background-color: #2dde98;
}

.alg-community .alg-communityprojects__hits .alg-header-misc .alg-viewmore {
  color: #2dde98;
}

.alg-community .alg-communityprojects__hits .alg-viewmore {
  padding-right: 18px;
  margin-left: 20px;
  text-decoration: none;
  vertical-align: baseline;
  font-weight: 400;
  margin-bottom: 4px;
}

.alg-community .alg-communityprojects__hits .alg-viewmore svg {
  transform: translate(6px,0) rotate(-90deg);
}

.alg-community .alg-communityprojects__hits .alg-communityprojects__hitstype {
  color: #1F3B5D;
  font-weight: 300;
  position: relative;
  display: inline-block;
  margin-top: 0;
}

.alg-community .alg-communityprojects__hits .alg-communityprojects__hitstype:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 3px;
  left: 0;
  bottom: -10px;
  transition: 380ms ease;
  transform-origin: left center;
}

.alg-community .alg-communityprojects__hits .alg-communityprojects__hitsdesc {
  margin-top: 2px;
  color: #9D9DBC;
  font-weight: 300;
}

.alg-community .alg-communityprojects__hits .ais-hits--item:after,
.alg-community .alg-communityprojects__hits:after {
  content: "";
  display: block;
  clear: both;
}

.alg-community .ais-hits--item {
  width: 24%;
  margin-right: 1%;
}

.alg-community .ais-hits--item:nth-child(4)~.ais-hits--item {
  margin-top: 36px;
}

@media (max-width:960px) {
  .alg-community .ais-hits--item {
    width: 46%;
    margin-right: 0;
  }

  .alg-community .ais-hits--item:nth-of-type(odd) {
    margin-right: 8%;
  }
}

@media (max-width:450px) {
  .alg-community .ais-hits--item {
    width: 100%;
    margin: 0 auto;
  }

  .alg-community .ais-hits--item:nth-of-type(odd) {
    margin-left: auto;
    margin-right: auto;
  }
}

.alg-community .ais-hits--item:nth-child(1) .alg-communityhit,
.alg-community .ais-hits--item:nth-child(2) .alg-communityhit,
.alg-community .ais-hits--item:nth-child(3) .alg-communityhit,
.alg-community .ais-hits--item:nth-child(4) .alg-communityhit {
  margin-top: 30px;
}

@media (max-width:960px) {
  .alg-community .ais-hits--item:nth-child(1) .alg-communityhit,
  .alg-community .ais-hits--item:nth-child(2) .alg-communityhit,
  .alg-community .ais-hits--item:nth-child(3) .alg-communityhit,
  .alg-community .ais-hits--item:nth-child(4) .alg-communityhit {
    margin-top: 50px;
  }
}

.alg-community .ais-hits--item:last-child {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.alg-community .alg-communityhit {
  padding-top: 3.85714em;
  transition: .25s ease;
  min-height: 220px;
  background-color: #fff;
}

.alg-community .alg-communityhit:hover {
  transform: translate(0,-8px);
}

.alg-community .alg-communityhit .alg-communityhit__stats {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-top: 1px solid #F5F5FD;
  min-height: 38px;
  position: absolute;
  bottom: 0;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.alg-community .alg-communityhit .alg-communityhit__stats svg {
  vertical-align: middle;
}

.alg-community .alg-communityhit .alg-communityhit__stats a {
  cursor: pointer;
  display: block;
}

.alg-community .alg-communityhit .alg-communityhit__stats .alg-communitystat {
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  height: 38px;
  line-height: 38px;
}

.alg-community .alg-communityhit .alg-communityhit__stats .alg-communitystat a {
  color: #3E396B;
}

.alg-community .alg-communityhit .alg-communityhit__stats .alg-communitystat:not(:last-child) {
  border-right: 1px solid #F5F5FD;
}

.alg-community .alg-communityhit .alg-communityhit__stats .alg-communitystat--github:hover a {
  color: #3e396b;
}

.alg-community .alg-communityhit .alg-communityhit__stats .alg-communitystat--discourse:hover a,
.alg-community .alg-communityhit .alg-communityhit__stats .alg-communitystat--home:hover a {
  color: #3369e7;
}

.alg-community .alg-communityhit .alg-communityhit__icon {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-34px);
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-communityhit__iconcontainer {
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
  top: 0;
  width: 78px;
  height: 78px;
  margin-left: -7px;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid #fff;
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-communityhit__iconcontainer:after {
  content: "";
  display: block;
  width: 150%;
  height: 150%;
  position: absolute;
  background-color: inherit;
  transform: translate(2px,8px);
  border-radius: 150%;
}

.alg-community .cta-free-trial:before,
footer .container:before {
  content: '';
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-communityhit__iconcontainer svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  fill: transparent;
  width: 50px;
  height: auto;
  z-index: 10;
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-icon-tool {
  background-image: linear-gradient(to top right,#8E43E6 -20%,#B84592 120%);
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-icon-library {
  background-image: linear-gradient(to bottom left,#00AEFF -20%,#3369E6 120%);
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-icon-plugin {
  background-image: linear-gradient(to top right,#3E396B -20%,#3369E6 120%);
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-icon-api-client,
.alg-community .alg-communityhit .alg-communityhit__icon .alg-icon-learn {
  background-image: linear-gradient(to top right,#201C38 0,#3E396B 60%);
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-icon-misc {
  background-image: linear-gradient(to bottom left,#2CDD97 -20%,#1DC5CE 120%);
}

.alg-community .alg-communityhit .alg-communityhit__icon .alg-icon-live {
  background-image: linear-gradient(to top right,#FE6C5F -20%,#FFC168 120%);
}

.alg-community .alg-communityhit .alg-communityhit__icon #icon-zendesk img {
  margin-left: -1px;
}

.alg-community .alg-communityhit .alg-communityhit__icon #icon-autocomplete img {
  width: 35px;
}

.alg-community .alg-communityhit .alg-communityhit__icon #icon-instantsearch img {
  width: 30px;
}

.alg-community .alg-communityhit .alg-communityhit__icon .icon-glass {
  position: absolute;
  left: 50%;
  top: 0;
  width: 84px;
  height: 87px;
  transform: translate(-50%,0);
  z-index: 10;
}

.alg-community .alg-communityhit .alg-communityhit__type {
  color: #5BA2D2;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.alg-community .alg-communityhit .alg-communityhit__name {
  color: #3e396b;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alg-community .alg-communityhit .alg-communityhit__description {
  color: #69719B;
  line-height: 1.53846em;
  min-height: 3em;
}

.alg-community .cta-free-trial {
  background-image: url(/img/algolia-fast-bg-65162a8533.svg);
  background-size: cover;
  padding-top: 100px;
}

.alg-community .cta-free-trial:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 150px;
  background: #302A51;
  left: 0;
  bottom: -95px;
  z-index: 25;
  transform: skewY(-2deg);
}

.alg-community .cta-free-trial h3 {
  font-size: 32px;
  color: #fff;
  font-weight: 300;
}

.alg-community .cta-free-trial p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-weight: 400;
}

.alg-community .cta-free-trial .container {
  max-width: 960px;
  margin: 0 auto;
  z-index: 10;
}

@media (max-width:768px) {
  .alg-community .cta-free-trial {
    padding-top: 160px;
  }

  .alg-community .cta-free-trial .container .col-md-6 {
    text-align: center;
  }
}

.alg-community .cta-free-trial svg {
  transform: translate(6px,0) rotate(-90deg);
}

@media (min-width:768px) {
  .alg-community .alg-communityprojects__hits {
    padding-left: 40px;
  }

  .alg-community .cta-free-trial .row .col-md-6 {
    width: 50%;
    float: left;
  }
}

.btn:hover {
  box-shadow: inherit;
}

.empty-query {
  text-align: center;
  width: 100%;
}

.empty-query img {
  margin: 0 auto;
  width: 82px;
  height: auto;
}

footer {
  z-index: 50;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  background-color: #2E2A51;
}

footer .container:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 130px;
  background: #1F1C3F;
  left: 0;
  bottom: 80px;
  z-index: 25;
  transform: skewY(-2deg);
}

footer h4 {
  font-weight: 400;
  border-bottom: solid 1px rgba(137,148,198,.5);
  color: #9d9dbd;
  font-size: 12px;
  letter-spacing: .1em;
  margin: 1em 0;
  line-height: 40px;
}

footer .container {
  margin: 0 auto;
  max-width: 960px;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

footer .column {
  margin: 0 60px 0 0;
  min-width: 20%;
}

@media (max-width:960px) {
  footer .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  footer .column {
    min-width: 50%;
    margin: 0;
    padding-right: 20px;
  }

  footer .column:first-child {
    min-width: 100%;
  }
}

footer .email input {
  background-color: #FFF;
  border-radius: 20px;
  line-height: 40px;
  padding: 0 16px;
  height: 40px;
  border: none;
  width: 230px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width:960px) {
  footer .email input {
    width: 100%;
    margin-bottom: 12px;
  }

  footer .email button {
    width: 100%;
  }
}

footer .email .mc_embed_signup--success .mc-signupmessage {
  position: absolute;
  left: 0;
  top: 16px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #FFF;
  color: #6775b5;
  text-align: center;
  z-index: 20;
  border-radius: 20px;
}

footer .email .mc_embed_signup--success .mc-signupmessage svg {
  width: 15px;
  margin-left: 4px;
  vertical-align: middle;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer ul a {
  color: #8994c6;
  font-size: .9em;
}

footer ul a:hover {
  color: #00aeff;
}

footer .logo {
  background-color: #050f2c;
  z-index: 50;
}

footer .logo img {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 50;
  margin: 40px auto;
}
