%section.events
  .container
    %h2.text-center.m-b-large Events & meetups
    .row
      .col-sm-6
        %a.event-wrapper.big{href:"http://mtpcon.com/sf/product-managers-product-managers/"}
          %img.img-responsive{src:"img/event-mdtp.png", alt: "mind the product"}
          .event-desc
            %span.date May <strong>4th</strong> - San Francisco
            %br
            %span.title Mind the product
            %svg.icon
              %use{xlink:href: "#icon-calendar"}
      .spacer10.visible-xs
      .col-sm-6
        .row
          .col-sm-6
            %a.event-wrapper{href: "http://www.terrapinn.com/exhibition/retail-world-asia/index.stm"}
              %img.img-responsive{src:"img/event-retail.png", alt: "retail asia"}
              .event-desc
                %span.date April <strong>20th</strong> / <strong>21st</strong> - Singapore
                %br
                %span.title Retail Tech Asia
                %svg.icon
                  %use{xlink:href: "#icon-calendar"}
          .spacer10.visible-xs
          .col-sm-6
            %a.event-wrapper{href:"http://www.irce.com/"}
              %img.img-responsive{src:"img/event-irce.png", alt: "irce"}
              .event-desc
                %span.date June <strong>7th</strong> / <strong>10th</strong> - Chicago
                %br
                %span.title IRCE
                %svg.icon
                  %use{xlink:href: "#icon-calendar"}
        .spacer10
        .row
          .col-sm-6
            %a.event-wrapper{href:"https://riseconf.com/"}
              %img.img-responsive{src:"img/event-rise.png", alt: "rise"}
              .event-desc
                %span.date  May <strong>31th</strong> / June <strong>2nd</strong> - Hong Kong
                %br
                %span.title RISE
                %svg.icon
                  %use{xlink:href: "#icon-calendar"}
          .spacer10.visible-xs
          .col-sm-6
            %a.event-wrapper{href:"https://www.ecommerceparis.com/"}
              %img.img-responsive{src:"img/event-ecomshow.png", alt: "ecommerce show"}
              .event-desc
                %span.date September <strong>12th</strong> / <strong>14th</strong> - Paris
                %br
                %span.title Ecommerce Show
                %svg.icon
                  %use{xlink:href: "#icon-calendar"}
  .spacer20
