!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:"Discover Algolia & build great search with our community"}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

%body
  %header.hero
    .container.pos-rel
      %ul.share
        %li
          %a{href:"https://twitter.com/algolia"}
            %svg.icon
              %use{xlink:href: "#icon-twitter"}
        %li
          %a{href:"https://www.facebook.com/algolia"}
            %svg.icon
              %use{xlink:href: "#icon-facebook"}
        %li
          %a{href:"https://www.linkedin.com/company/algolia"}
            %svg.icon
              %use{xlink:href: "#icon-linkedin"}
        %li
          %a{href:"https://github.com/algolia"}
            %svg.icon
              %use{xlink:href: "#icon-github"}
        %li
          %a{href:"https://www.producthunt.com/@algolia"}
            %svg.icon
              %use{xlink:href: "#icon-producthunt"}
      .spacer60
      %h1
        %a.logo-community{href: "https://community.algolia.com"}
          %img{src: "img/logos/logo-community.svg", width: 100, alt: "Community Logo"}
        %a.logo-algolia{href: "https://www.algolia.com"}
          %img{src: "img/logo-algolia.svg", width: 100, alt: "Algolia"}
        %a{href: "https://community.algolia.com" } Community

  %main
    %section.projects
      .container#grid
        .row
          .col-sm-6
            .project-wrapper.big.ee
              %img{src:"#", alt: "UX", id: "uxGlass"}
            %figure.effect-apollo.project-wrapper.big.instantsearch.draggable
              %figcaption
                .project-header LIBRARY
                %a.project-desc{href: "https://community.algolia.com/instantsearch.js/"}
                  %link.rippleJS
                  .spacer60
                  .row
                    .col-xs-2.col-xs-offset-1.col-sm-offset-2
                      %img.icon.img-responsive{src: "img/logo-is.svg", width: 80, alt: "instantsearch"}
                    .col-xs-7.text-left
                      %img.logo{src: "img/logo-instantsearch.svg", , alt: "instants"}
                      %p.desc.no-padding Pick from an extensive library of UI widgets to power your search and build a state-of-the-art instant-search experience.
                .project-footer
                  %a{href: "https://github.com/algolia/instantsearch.js"}
                    %svg.icon.github
                      %use{xlink:href: "#icon-github"}

            .spacer10
            .row
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", alt: "Get off my way, CAT!",class: "contain", id: "blockedTrain"}

                %figure.effect-apollo.project-wrapper.peek-trigger.magento.draggable
                  %figcaption
                    .project-header PLUGIN
                    %a.project-desc{href: "https://community.algolia.com/magento/"}
                      %link.rippleJS
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-magento"}
                      .project-title Magento
                      .spacer10
                    .project-footer
                      %a{href: "https://github.com/algolia/magento"}
                        %svg.icon.github
                          %use{xlink:href: "#icon-github"}
                    .peek-a-boo
                      %p Deliver fast and relevant search results with the Algolia extension for Magento.
              .spacer10.visible-xs
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", alt: "How many squirrels are stacked in this box?", id: "flyingSquirrels"}
                %figure.effect-apollo.project-wrapper.peek-trigger.zendesk.draggable
                  %figcaption
                    .project-header PLUGIN
                    %a.project-desc{href: "https://community.algolia.com/zendesk/"}
                      %link.rippleJS
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-zendesk"}
                      .project-title Zendesk
                      .spacer10
                    .project-footer
                      %a{href: "https://github.com/algolia/zendesk"}
                        %svg.icon.github
                          %use{xlink:href: "#icon-github"}

                    .peek-a-boo
                      %p Turn your Zendesk help center into a valuable knowledge base.
                .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper.big.ee
                  %img{src:"#", alt: "Too quick!", id: "tooQuickDevops"}
                  %p.quote "I'm too quick for a video!"
                %figure.effect-apollo.project-wrapper.big.helperjs.draggable
                  %figcaption
                    .project-header LIBRARY
                    %a.project-desc{href: "https://github.com/algolia/algoliasearch-helper-js"}
                      %link.rippleJS
                      %svg.icon{height: 80}
                        %use{xlink:href: "#icon-helperjs"}
                      .spacer20
                      .project-title helper.js
                      .spacer10
                      .desc More easily implement advanced search functionality with the Algolia helper.
                    .project-footer

                .spacer10
                %div
                  .col-sm-12.no-padding
                    .project-wrapper.ee
                      %img{src:"#", class:"contain", alt: "Push -force my friend!", id: "pushForce"}
                    %figure.effect-apollo.project-wrapper.peek-trigger.jekyll.draggable
                      %figcaption
                        .project-header PLUGIN
                        %a.project-desc{href: "https://blog.algolia.com/instant-search-blog-documentation-jekyll-plugin/"}
                          %link.rippleJS
                          %svg.icon{height: 40}
                            %use{xlink:href: "#icon-jekyll"}
                          .project-title Jekyll
                          .spacer10
                      .project-footer
                        %a{href: "https://github.com/algolia/algoliasearch-jekyll"}
                          %svg.icon.github
                            %use{xlink:href: "#icon-github"}

                      .peek-a-boo
                        %p Search your static HTML Jekyll sites with the Algolia for Jekyll plugin.

              .spacer10.visible-xs
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", class:"contain", alt: "Try me!", id: "uselessBox"}
                %figure.effect-apollo.project-wrapper.blog.draggable
                  %figcaption
                    .project-header READING
                    %a.project-desc{href: "javascript:void(0)"}
                      %link.rippleJS
                      .project-title
                        %svg.icon
                            %use{xlink:href: "#icon-millisecondsmatter", class:"white"}

                      .spacer10
                      %a{href: "https://blog.algolia.com/", class:"button blue full"} VISIT ALGOLIA'S BLOG
                      .spacer10


                .spacer10
                .col-sm-12.no-padding
                  .project-wrapper.big.ee
                    %img{src:"#", class:"contain", alt: "Pump it pump it", id: "pumpIt"}
                  %figure.effect-apollo.project-wrapper.big.autocompletejs.draggable
                    %figcaption
                      .project-header LIBRARY
                      %a.project-desc{href: "https://github.com/algolia/autocomplete.js"}
                        %link.rippleJS
                        %img.icon{src: "img/illus-autocomplete.svg", alt: "auto complete"}
                        .project-title autocomplete.js
                        .spacer10
                        .desc Display as-you-type search results with autocomplete.js.
                      .project-footer
                        %a{href: "https://github.com/algolia/autocomplete.js"}
                          %svg.icon
                            %use{xlink:href: "#icon-github"}

        .spacer10
        .row
          .col-sm-6
            .project-wrapper.ee.big
              %img{src:"#", class:"contain", alt: "Client VS startups", id: "clientReaction"}
            %figure.effect-apollo.project-wrapper.big.docsearch.draggable
              %figcaption
                .project-header TOOL
                .spacer10
                %a.project-desc{href: "https://community.algolia.com/docsearch/"}
                  %link.rippleJS
                  .spacer40
                  %img.icon{src: "img/illus-docsearch.svg", alt: "doc search"}
                  .desc.text-center Search your documentation quickly and easily with DocSearch.
                  .spacer40
                  .button Join the Program
                .project-footer
                  %a{href:"https://github.com/algolia/docsearch"}
                    %svg.icon.github
                      %use{xlink:href: "#icon-github"}

          .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", class:"contain", alt: "Psycho cat", id: "psychoCat"}
                %figure.effect-apollo.project-wrapper.peek-trigger.hackernews.draggable
                  %figcaption
                    .project-header TOOL
                    %a.project-desc{href: "https://hn.algolia.com?experimental"}
                      %link.rippleJS
                      %svg.icon{height: 30}
                        %use{xlink:href: "#icon-hn"}
                      .project-title Hackernews Search
                    .project-footer
                      %a{href: "https://github.com/algolia/hn-search"}
                        %svg.icon.github
                          %use{xlink:href: "#icon-github"}

                    .peek-a-boo
                      %p The power of Algolia search unleashed on Hacker News.

              .spacer10.visible-xs
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", alt: "Meow", id: "balanceBear"}
                %figure.effect-apollo.project-wrapper.peek-trigger.githubsearch.draggable
                  %figcaption
                    .project-header TOOL
                    %a.project-desc{href: "https://github.algolia.com"}
                      %link.rippleJS
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-github"}
                      .project-title Github Search
                      .spacer10
                    .project-footer

                    .peek-a-boo
                      %p Search for repositories and people faster than ever.

            .spacer10
            .row
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", alt: "I'll kill you! I'll kill you! Human!", id: "terminatorRaising"}
                %figure.effect-apollo.project-wrapper.peek-trigger.supersearch.draggable
                  %figcaption
                    .project-header DEMO
                    %a.project-desc{href: "https://community.algolia.com/supersearch/"}
                      %link.rippleJS
                      %svg.icon{height: 50}
                        %use{xlink:href: "#icon-superbowl"}
                      .project-title SuperSearch
                    .project-footer
                      %a{href: "https://github.com/algolia/supersearch/"}
                        %svg.icon.github
                          %use{xlink:href: "#icon-github"}

                    .peek-a-boo
                      %p Find and watch every SuperBowl commercial ever aired.

              .spacer10.visible-xs
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", class:"contain",  alt: "Meow", id: "gianlucaMeme"}
                %figure.effect-apollo.project-wrapper.stackoverflow.peek-trigger.draggable
                  %figcaption
                    .project-header NEED HELP?
                    %a.project-desc{href: "http://stackoverflow.com/questions/tagged/algolia"}
                      %link.rippleJS
                      %img.icon{src: "img/illus-stackoverflow.svg", width: 40, alt: "stackoverflow"}
                      .project-title ASK StackOverflow
                    .project-footer

                    .peek-a-boo
                      %p Have Algolia related questions? Ask the community.
        .spacer10
        .row
          .col-sm-3
            .project-wrapper.ee
              %img{src:"#", alt: "Hmmmm Piiiizzaaaaa", id: "pizzaGradient"}
            %figure.effect-apollo.project-wrapper.searchbox.draggable
              %figcaption
                .project-header TOOL
                %a.project-desc{href: "http://shipow.github.io/searchbox/"}
                  %link.rippleJS
                  .spacer50
                  .project-title SearchBox
                  .desc.text-center Get the code for <br/>your custom search box.
                .project-footer


            .spacer10
            %figure.effect-apollo.project-wrapper.swag.coming-soon
              %figcaption
                .project-header SWAG
                %a.project-desc{href: "#"}
                  %link.rippleJS
                  %svg.icon{height: 40}
                    %use{xlink:href: "#icon-sticker"}
                  .spacer10
                  .button.full Get your free stickers

          .spacer10.visible-xs
          .col-sm-3
            .project-wrapper.big.ee
              %img{src:"#", alt: "vvo.js", id: "vvoThumb"}
            %figure.effect-apollo.project-wrapper.big.expectjs.draggable
              %figcaption
                .project-header TOOL
                %a.project-desc{href: "https://github.com/algolia/expect-jsx"}
                  %link.rippleJS
                  %svg.icon{height: 120}
                    %use{xlink:href: "#icon-react"}
                  .spacer20
                  .project-title Expect JSX
                  .desc toEqualJSX for mjackson/expect.


          .spacer10.visible-xs
          .col-sm-6
            .project-wrapper.ee
              %img{src:"#", alt: " ", class:"contain", id: "dancers"}
              %p.quote "When you subscribe, we're like"
            %figure.effect-apollo.project-wrapper.newsletter.draggable
              %figcaption
                .project-header LEARN
                .project-desc
                  %link.rippleJS
                  #mc_embed_signup
                    %form#mc-embedded-subscribe-form.validate{action: "//algolia.us3.list-manage.com/subscribe/post?u=f7b8acc6ec97794a08484ca9b&amp;id=285b80e148", method: "post", name: "mc-embedded-subscribe-form", novalidate: ""}
                      #mc_embed_signup_scroll
                        .input-group
                          %input#mce-EMAIL{ name: "EMAIL", placeholder: "Email Address", type: "email", value: ""}
                          %button#mc-embedded-subscribe.button{ type: "submit"}
                            Subscribe
                        #mce-responses.clear
                          #mce-error-response.response{style: "display:none"}
                          #mce-success-response.response{style: "display:none"}
                        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        %div{style: "position: absolute; left: -5000px;"}
                          %input{name: "b_f7b8acc6ec97794a08484ca9b_285b80e148", tabindex: "-1", type: "text", value: ""}/
                  .spacer15
                  .project-title Newsletter
                  .desc.text-center Sign up for our newsletter to stay in the loop on Algolia news and product updates.
            .spacer10
            .row
              .col-sm-6
                .project-wrapper.ee
                  %img{src:"#", alt: "Dumb and dumber", id: "jimCarrey"}
                %figure.effect-apollo.project-wrapper.talks.peek-trigger.draggable.coming-soon
                  %figcaption
                    %link.rippleJS
                    .project-header LEARN
                    %a.project-desc{href: "#"}
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-talks"}
                      .project-title Talks
                    .peek-a-boo
                      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commo
                    .spacer10
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.peek-trigger.publicdatas.coming-soon
                  %figcaption
                    %link.rippleJS
                    .project-header LEARN
                    %a.project-desc{href: "#"}
                      %svg.icon{height: 30}
                        %use{xlink:href: "#icon-code"}
                      .project-title Code snippets
                    .peek-a-boo
                      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commo

    %section.tools
      %h2.text-center.m-b-large API Clients & Tools
      .container
        .row
          .col-sm-2.text-center.hidden-xs
            .tools-category.web
              %img{src:"img/illus-web.svg", alt: "web"}
              %h3 Web
            .tools-category.mobile
              %img{src:"img/illus-mobile.svg", alt: "mobile"}
              %h3 Mobile
            .tools-category.backend
              %img{src:"img/illus-backend.svg", alt: "backend"}
              %h3 Back-end
          .col-sm-10
            .row.list-tools
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-helper-js"}
                  %img{src: "img/icons/algolia-helper.svg", height:50, alt: "helper"}
                  .spacer10
                  .title  algolia-helper.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-js"}
                  %img{src: "img/icons/javascript.svg", height:50, alt: "js"}
                  .spacer10
                  .title algoliasearch.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/autocomplete.js"}
                  %img{src: "img/icons/autocompletejs.svg", height:50, alt: "autocomplete"}
                  .spacer10
                  .title  autocomplete.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/instantsearch.js"}
                  %img{src: "img/icons/instantsearchjs.svg", height:50, alt: "instantsearch"}
                  .spacer10
                  .title instantsearch.js

            .row.list-tools
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-android"}
                  %img{src: "img/icons/android.svg", height:50, alt: "android"}
                  .spacer10
                  .title Android
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-objc"}
                  %img{src: "img/icons/objc.svg", height:50, alt: "objective c"}
                  .spacer10
                  .title  Objective-C
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-swift"}
                  %img{src: "img/icons/swift.svg", height:50, alt: "swift"}
                  .spacer10
                  .title Swift
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-csharp"}
                  %img{src: "img/icons/windows.svg", height:50, alt: "windows"}
                  .spacer10
                  .title Windows

            .row.list-tools
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-csharp"}
                  %img{src: "img/icons/csharp.svg", height:50, alt: "c sharp"}
                  .spacer10
                  .title C#
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-cmd"}
                  %img{src: "img/icons/curl.svg", height:50, alt: "curl"}
                  .spacer10
                  .title Curl
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-django"}
                  %img{src: "img/icons/django.svg", height:50, width: 49, alt: "django"}
                  .spacer10
                  .title Django
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-go"}
                  %img{src: "img/icons/go.svg", height:50, alt: "go"}
                  .spacer10
                  .title Go
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-java"}
                  %img{src: "img/icons/java.svg", height:50, alt: "java"}
                  .spacer10
                  .title Java
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-js"}
                  %img{src: "img/icons/node.svg", height:50, alt:"node", alt: "node"}
                  .spacer10
                  .title  Node.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-php"}
                  %img{src: "img/icons/php.svg", height:50, alt: "php"}
                  .spacer10
                  .title PHP
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-python"}
                  %img{src: "img/icons/python.svg", height:50, alt: "python"}
                  .spacer10
                  .title Python
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-rails"}
                  %img{src: "img/icons/rails.svg", height:50, alt: "rails"}
                  .spacer10
                  .title Rails
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-ruby"}
                  %img{src: "img/icons/ruby.svg", height:50, alt: "ruby"}
                  .spacer10
                  .title Ruby
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-scala"}
                  %img{src: "img/icons/scala.svg", height:50, alt: "scala"}
                  .spacer10
                  .title Scala
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/AlgoliaSearchBundle"}
                  %img{src: "img/icons/symfony.svg", height:50, alt: "symfony"}
                  .spacer10
                  .title Symfony


    %section.events
      .container
        %h2.text-center.m-b-large Events & meetups
        .row
          .col-sm-6
            %a.event-wrapper.big{href:"http://mtpcon.com/sf/product-managers-product-managers/"}
              %img.img-responsive{src:"img/event-mdtp.png", alt: "mind the product"}
              .event-desc
                %span.date May <strong>4th</strong> - San Francisco
                %br
                %span.title Mind the product
                %svg.icon
                  %use{xlink:href: "#icon-calendar"}
          .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                %a.event-wrapper{href: "http://www.terrapinn.com/exhibition/retail-world-asia/index.stm"}
                  %img.img-responsive{src:"img/event-retail.png", alt: "retail asia"}
                  .event-desc
                    %span.date April <strong>20th</strong> / <strong>21st</strong> - Singapore
                    %br
                    %span.title Retail Tech Asia
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
              .spacer10.visible-xs
              .col-sm-6
                %a.event-wrapper{href:"http://www.irce.com/"}
                  %img.img-responsive{src:"img/event-irce.png", alt: "irce"}
                  .event-desc
                    %span.date June <strong>7th</strong> / <strong>10th</strong> - Chicago
                    %br
                    %span.title IRCE
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
            .spacer10
            .row
              .col-sm-6
                %a.event-wrapper{href:"https://riseconf.com/"}
                  %img.img-responsive{src:"img/event-rise.png", alt: "rise"}
                  .event-desc
                    %span.date  May <strong>31th</strong> / June <strong>2nd</strong> - Hong Kong
                    %br
                    %span.title RISE
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
              .spacer10.visible-xs
              .col-sm-6
                %a.event-wrapper{href:"https://www.ecommerceparis.com/"}
                  %img.img-responsive{src:"img/event-ecomshow.png", alt: "ecommerce show"}
                  .event-desc
                    %span.date September <strong>12th</strong> / <strong>14th</strong> - Paris
                    %br
                    %span.title Ecommerce Show
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
      .spacer20


    %footer.footer
      .container
        .row
          .col-sm-6
            %h3 Want to work with us ?
            %ul.list-unstyled
              %li
                %a{href: "https://www.algolia.com/careers"}
                  Our open positions
              %li
                %a{href: "https://www.algolia.com/about"}
                  About us
          .col-sm-3
            %h3 Connect
            %ul.list-unstyled.connect
              %li
                %a{href:"https://twitter.com/algolia"}
                  Twitter
              %li
                %a{href:"https://www.facebook.com/algolia"}
                  Facebook
              %li
                %a{href:"https://github.com/algolia"}
                  Github
              %li
                %a{href:"https://www.producthunt.com/@algolia"}
                  ProductHunt
              %li
                %a{href:"https://www.linkedin.com/company/algolia"}
                  Linkedin
          .col-sm-3.update
            %h3 Stay updated
            %div
              .fb-page{data-adapt-container-width:"true", data-hide-cover:"false", data-href:"https://www.facebook.com/algolia", data-show-facepile:"true", data-small-header:"true"}
                .fb-xfbml-parse-ignore
                  %blockquote{cite:"https://www.facebook.com/algolia"}
                    %a{href:"https://www.facebook.com/algolia"} Algolia on Facebook
            %div
              %a{class:"twitter-follow-button", href:"https://twitter.com/Algolia", data-size:"large"} Follow @Algolia on Twitter

        .row
          .spacer100
          .col-absolute-center
            %a{href: "https://blog.algolia.com/"}
              %svg.icon.big.center
                %use{xlink:href: "#icon-millisecondsmatter", class:"grey"}
        .text-center
          .spacer30
          ©<span class="brand-name">Algolia</span> 2016



  %div{id: "fb-root"}
    %script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.5&appId=217461055269773";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  %script{type: "text/javascript"}
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1654938174769952');
      fbq('track', "PageView");
  %noscript
    %img{height: "1",src: "https://www.facebook.com/tr?id=1654938174769952&ev=PageView&noscript=1",style: "display:none",width: "1"}

  %script
    window.twttr = (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return t; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function(f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));

  %script{src: "//platform.twitter.com/oct.js",type: "text/javascript"}
      twttr.conversion.trackPid('nuhd9', { tw_sale_amount: 0, tw_order_quantity: 0 });
  %noscript
    %img{alt: "",height: "1",src: "https://analytics.twitter.com/i/adsct?txn_id=nuhd9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;",width: "1"}
    %img{alt: "",height: "1",src: "//t.co/i/adsct?txn_id=nuhd9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;",width: "1"}

  %script
    adroll_adv_id = "TGR7R4XSGVGYVPX4LQBDFQ"; adroll_pix_id = "YQNWNHGUUBD2JMY7BVOBWM"; (function () { var _onload = function(){ if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return} if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return} var scr = document.createElement("script"); var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com"); scr.setAttribute('async', 'true'); scr.type = "text/javascript"; scr.src = host + "/j/roundtrip.js"; ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr); }; if (window.addEventListener) {window.addEventListener('load', _onload, false);} else {window.attachEvent('onload', _onload)} }());
  %script
    var _kmq = _kmq || []; var _kmk = _kmk || '55469e64b104e85e15613b087c7d95bf9c0b1d6e'; function _kms(u){ setTimeout(function(){ var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); } _kms('//i.kissmetrics.com/i.js'); _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden; display:none"}
    <!-- inject:svg --><!-- endinject -->
