!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:"Discover Algolia & build great search with our community"}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

  //webmastertools
  %meta{name: "google-site-verification", content: "Kchm7Sc4EMavWFw1y3NC89h9SpHixZMdGMRyddMEaOI"}

%body
  %header.alg-header
    .alg-header__container.m-l-r-auto
      .alg-communitylogo
        <svg width="210" height="37" viewBox="0 0 210 37" xmlns="http://www.w3.org/2000/svg"><g id="Symbols" fill="none" fill-rule="evenodd"><g id="logo/algolia-community/darkbg"><path id="Shape" fill="#16205A" d="M18.3604.1038L36.763 18.5326 18.445 36.8772.0425 18.4478z"/><path id="Shape" fill="#46AEDA" d="M15.5035 5.2683l2.8623-2.8664 3.4504 3.4557-1.145 1.1466-2.3003-2.3038-1.7175 1.7198z"/><path id="Shape" fill="#FE336F" d="M21.302 31.7124l-2.8623 2.8664-9.7763-9.7906 1.145-1.1465 8.6263 8.6387 1.717-1.72z"/><path id="Shape" fill="#F5A623" d="M22.447 30.566l12.021-12.0385L22.9662 7.0092l-1.145 1.1466 10.352 10.3664-10.8766 10.892z"/><path id="Shape" fill="#50E3C2" d="M7.4893 13.294l-5.1518 5.1592 5.1755 5.183 1.145-1.1463-4.0254-4.0314 4.0072-4.013z"/><path id="Shape" fill="#BD0FE1" d="M8.6342 12.1474l5.7244-5.7328 1.1503 1.152-5.7246 5.7326z"/><path d="M18.5378 13.7963c-3.0685 0-5.558 2.4768-5.558 5.5357 0 3.0587 2.4895 5.5295 5.558 5.5295 3.0687 0 5.5582-2.4768 5.5582-5.5357 0-3.0588-2.4835-5.5295-5.5582-5.5295zm0 9.432c-2.161 0-3.9162-1.7462-3.9162-3.896 0-2.1504 1.7553-3.8966 3.9162-3.8966 2.1614 0 3.9164 1.7462 3.9164 3.8964 0 2.15-1.7492 3.896-3.9164 3.896v.0002zm0-6.9967v2.9044c0 .0834.0896.1426.1672.101l2.591-1.3363c.06-.0296.0774-.101.0478-.1603-.5553-.9693-1.5713-1.5825-2.6865-1.6214-.06 0-.1195.0475-.1195.1126zm-3.6297-2.1323l-.3402-.3385c-.3333-.3326-.8726-.3326-1.206 0l-.406.404c-.1603.1582-.2507.3743-.2507.5998 0 .2255.0905.4416.251.6l.3343.3323c.0536.0534.1314.0415.179-.0118.1973-.2697.4148-.524.6508-.7605.2384-.2385.496-.457.77-.6532.06-.0357.0657-.119.018-.1723zm5.4508-.879v-.6712c0-.4693-.3824-.8492-.854-.8492H17.517c-.4717 0-.8537.3802-.8537.8493v.689c0 .0775.0716.1307.1493.113.5628-.162 1.1456-.2438 1.7312-.2435.5674 0 1.1286.0772 1.6718.2258.0346.0086.0713.0007.0992-.0214.028-.0222.0442-.056.044-.0917zM69.3456 23.3224c0 1.6574-.428 2.8708-1.2833 3.6396-.8553.7693-2.1654 1.1536-3.93 1.1536-.6467 0-1.9853-.1224-3.0537-.3606l.3972-1.926c.8973.184 2.077.2383 2.697.2383.9833 0 1.6837-.199 2.1013-.5967.4178-.3978.6266-.988.6266-1.7703v-.3978c-.2424.1192-.5625.2384-.96.358-.397.1192-.852.179-1.3638.179-.6736 0-1.2898-.106-1.849-.3182-.5592-.212-1.0372-.5235-1.4347-.9345-.397-.4112-.707-.925-.9294-1.5414-.2223-.6167-.3334-1.7128-.3334-2.5216 0-.7558.118-1.7075.3537-2.344.2356-.6364.579-1.1802 1.0305-1.6306.4512-.451 1.0003-.8025 1.6468-1.0544.709-.2748 1.4626-.4154 2.2227-.4146.7947 0 1.529.0965 2.243.2158.714.1194 1.3203.2453 1.8186.378v9.6484zm-6.8097-4.799c0 1.0212.2255 2.1507.6768 2.6214.4512.4707 1.034.706 1.748.706.3905 0 .7577-.053 1.101-.159.3436-.1062.623-.232.8387-.378v-6.0293c-.1753-.0398-.9054-.1862-1.6177-.2062-.889-.025-1.5684.3355-2.0398.9123-.4717.5768-.7072 1.5916-.7072 2.533zm18.4326.0034c0 .8222-.1212 1.4434-.364 2.1196-.2424.6763-.5858 1.253-1.0304 1.73-.4445.4776-.98.849-1.6064 1.114-.6265.2652-1.59.4125-2.0712.4074-.4812-.0053-1.4414-.1422-2.061-.4073-.6196-.2652-1.1518-.6365-1.5962-1.1138-.4447-.4772-.7915-1.054-1.0408-1.73-.249-.6765-.3738-1.2977-.3738-2.12 0-.8218.1158-1.6116.365-2.2814.2492-.6695.5995-1.243 1.0508-1.7202.4512-.4774.9868-.8452 1.6064-1.104.6198-.2585 1.3-.3876 2.0408-.3876.741 0 1.4246.129 2.051.3875.6266.2588 1.162.6266 1.6065 1.104.4445.477.7915 1.0507 1.0407 1.7202.2493.6698.3826 1.4595.3826 2.2814v.0002zm-2.506.0058c0-1.049-.2342-1.9243-.6855-2.5362-.451-.612-1.081-.918-1.8893-.918-.8082 0-1.438.306-1.8893.918-.4512.612-.668 1.487-.668 2.5362 0 1.0625.2255 1.7734.6768 2.392.4512.6188 1.081.928 1.8894.928.8083 0 1.4382-.3094 1.8894-.928.4513-.619.677-1.3298.677-2.3923l-.0004.0003zm7.9622 5.3652c-4.0175.018-4.0175-3.217-4.0175-3.7343L82.402 8.6877l2.45-.3836v11.4022c0 .2918 0 2.1435 1.573 2.147v2.0447l-.0002-.0002zm4.3102 0h-2.4592V13.4165l2.4592-.383v10.8643zM89.5054 11.883c.8222 0 1.488-.658 1.488-1.4698 0-.812-.6658-1.47-1.488-1.47s-1.4884.658-1.4884 1.47c0 .8117.6664 1.4698 1.4884 1.4698zm7.3486 1.1504c.8084 0 1.4886.0994 2.041.2983.5523.199.9934.4772 1.3235.835.33.3584.5557.8366.697 1.347.1417.5104.2122 1.0705.2122 1.6803v6.2462c-.3772.0795-.9463.1757-1.7074.2884-.7612.1126-1.62.169-2.5764.169-.6332 0-1.2125-.0597-1.738-.179-.5252-.1193-.973-.3115-1.3435-.5768-.3706-.265-.66-.6098-.869-1.034-.2087-.4243-.313-1.0174-.313-1.6405 0-.5967.1177-.9725.3533-1.3838.2358-.411.5558-.7458.96-1.0042.404-.2586.872-.4443 1.4043-.557.5322-.1126 1.088-.169 1.667-.169.2695 0 .5524.0164.849.0497.2963.033.6128.0892.9495.169v-.398c0-.2783-.0336-.5435-.101-.7954-.0645-.2466-.1855-.4748-.3534-.6663-.1685-.1923-.3907-.3415-.667-.4475-.276-.1062-.629-.1868-1.0464-.1868-.566 0-1.0786.0673-1.5502.1468-.4714.0796-.8553.1726-1.1517.2785l-.293-1.993c.31-.106.761-.212 1.3538-.318.593-.106 1.226-.1592 1.8995-.1592v.0004zm.2108 8.819c.7543 0 1.3082-.0408 1.699-.1205v-2.4696c-.1348-.0398-.3302-.0796-.5862-.1194-.2558-.0397-.5388-.0596-.8484-.0596-.2696 0-.5424.02-.8186.0596-.2763.0398-.5257.1126-.7477.2188-.2225.1062-.401.2554-.5356.4475-.1348.1923-.202.3064-.202.5982 0 .57.2003.898.564 1.1167.3637.2188.8554.3282 1.475.3282h.0004zm-48.365-8.756c.8084 0 1.4886.0996 2.041.2985.5522.1988.9934.477 1.3234.835.33.3582.5557.8365.6972 1.347.1417.5102.2122 1.0704.2122 1.6805v6.246c-.3772.0795-.9463.1756-1.7075.2882-.7607.113-1.6197.1692-2.576.1692-.6333 0-1.2125-.0596-1.7378-.179-.5254-.1193-.9733-.3114-1.3438-.5767-.3705-.2652-.66-.61-.869-1.0343-.2087-.424-.3132-1.017-.3132-1.64 0-.5968.118-.9726.3537-1.384.2356-.4108.5556-.7457.9597-1.0043.4042-.2585.8723-.444 1.4044-.557.5323-.1125 1.088-.169 1.667-.169.2694 0 .552.017.8486.0498.2965.0333.613.0896.9498.1692v-.3978c0-.2784-.0336-.5437-.101-.7957-.0645-.2465-.1855-.4746-.3534-.666-.1686-.1924-.3908-.3416-.667-.4476-.2763-.106-.629-.1868-1.0465-.1868-.566 0-1.0788.0672-1.5503.147-.4714.0795-.8553.1725-1.1518.2783l-.293-1.9933c.31-.106.7613-.212 1.354-.318.5927-.106 1.226-.159 1.8994-.159v-.0005zm.2108 8.8194c.7544 0 1.3085-.041 1.699-.1206v-2.4694c-.1348-.0397-.33-.0795-.586-.1193-.2556-.0395-.539-.0595-.8486-.0595-.2694 0-.5422.02-.8183.0597-.276.04-.5255.113-.7477.219-.2223.106-.4008.255-.5354.4474-.1348.1923-.202.3065-.202.5982 0 .57.2004.898.5642 1.1168.3636.2187.8553.328 1.475.328l-.0002-.0002zm9.9312 1.9817c-4.0175.018-4.0175-3.217-4.0175-3.734l-.005-11.476 2.45-.3836v11.402c0 .2918 0 2.1436 1.5725 2.147v2.0448-.0003zm49.5943-5.397c0-.7692.1192-1.4883.3576-2.158.2383-.6697.5793-1.2496 1.0228-1.7402.4435-.4907.983-.8752 1.6187-1.1536.6356-.2785 1.3506-.4177 2.145-.4177.98 0 1.9067.179 2.7806.537l-.5164 1.969c-.278-.1193-.5925-.2187-.9434-.2983-.351-.0795-.725-.1193-1.122-.1193-.9402 0-1.6552.295-2.145.885-.49.5902-.735 1.4222-.735 2.4962 0 1.0342.2318 1.853.6952 2.4563.4633.6032 1.2446.905 2.3436.905.4103 0 .8143-.04 1.2115-.1195.3973-.0795.7415-.179 1.0328-.2983l.3377 1.989c-.2648.1326-.6654.252-1.2016.358-.5464.107-1.1018.1603-1.6585.159-.8872 0-1.6584-.136-2.3138-.4077-.6554-.272-1.1982-.6497-1.6286-1.1337-.4303-.484-.7512-1.0607-.963-1.7303-.212-.6698-.318-1.3957-.318-2.178zm19.126-.0198c0 .822-.119 1.5713-.3573 2.2475-.2384.6762-.576 1.253-1.013 1.7304-.437.4773-.9632.8486-1.579 1.1138-.6156.265-1.2942.3978-2.0356.3978-.7414 0-1.4165-.1327-2.0258-.3978-.609-.2652-1.132-.6365-1.569-1.1138-.437-.4774-.778-1.0542-1.0228-1.7304-.245-.6762-.3674-1.4255-.3674-2.2475 0-.822.1226-1.5678.3674-2.2376.245-.6697.5893-1.243 1.0328-1.7203.4435-.4773.9696-.8453 1.579-1.1038.609-.2587 1.2777-.388 2.006-.388.728 0 1.4.1293 2.0157.388.6156.2584 1.142.6264 1.579 1.1037.4368.4774.7778 1.0508 1.0227 1.7204.245.67.3674 1.4158.3674 2.2377zm-2.4626 0c0-1.0342-.222-1.853-.6653-2.4563-.4435-.6033-1.0625-.905-1.857-.905-.7944 0-1.4136.3017-1.857.905-.4434.6032-.6653 1.422-.6653 2.4563 0 1.0475.222 1.8763.6654 2.4862.4436.6097 1.0626.9148 1.857.9148.7945 0 1.4137-.305 1.857-.915.4436-.6098.6654-1.4386.6654-2.486zm10.864-.2586c0-1.0872-.136-1.8728-.4072-2.3568-.2717-.484-.778-.726-1.5194-.726-.2648 0-.556.02-.874.0598-.3176.0397-.556.073-.715.0994v8.3933h-2.403v-10.064c.4633-.1326 1.069-.2586 1.8172-.378.7482-.1192 1.5393-.179 2.3734-.179.715 0 1.301.093 1.7577.2785.457.1858.8376.431 1.142.736.1457-.106.3312-.2188.5562-.3382.225-.1193.4767-.2287.7547-.328.2887-.1026.584-.1857.8837-.2488.311-.0662.6257-.0994.9434-.0994.8077 0 1.4732.116 1.9962.348.5228.2322.9334.557 1.2313.9746.298.4177.503.9214.6157 1.5116.1125.59.1688 1.2365.1688 1.9392v5.8475h-2.403V18.222c0-1.0872-.1326-1.8728-.3973-2.3568-.2648-.484-.7746-.726-1.5293-.726-.384 0-.7482.063-1.0924.189-.3442.1258-.6024.2487-.7746.368.106.3315.1788.683.2185 1.054.0396.3716.0595.7694.0595 1.1935v5.748h-2.4032V18.222zm17.1796 0c0-1.0872-.1358-1.8728-.407-2.3568-.2718-.484-.778-.726-1.5195-.726-.2648 0-.556.02-.874.0598-.3177.0397-.556.073-.715.0994v8.3933h-2.403v-10.064c.4633-.1326 1.069-.2586 1.8172-.378.7482-.1192 1.5393-.179 2.3734-.179.715 0 1.301.093 1.7578.2785.4568.1858.8375.431 1.142.736.1456-.106.331-.2188.556-.3382.225-.1193.4768-.2287.7548-.328.2888-.1026.584-.1857.8838-.2488.311-.0662.6257-.0994.9434-.0994.8076 0 1.473.116 1.996.348.523.2322.9335.557 1.2314.9746.298.4177.503.9214.6157 1.5116.1124.59.1687 1.2365.1687 1.9392v5.8475h-2.403V18.222c0-1.0872-.1326-1.8728-.3974-2.3568-.2647-.484-.7745-.726-1.5292-.726-.384 0-.748.063-1.0923.189-.3442.1258-.6024.2487-.7746.368.106.3315.179.683.2186 1.054.0397.3716.0596.7694.0596 1.1935v5.748h-2.4032V18.222zm19.7815 5.1515c-.4634.1193-1.066.242-1.8074.368-.7413.1257-1.5556.189-2.4428.189-.834 0-1.5326-.1195-2.0953-.358-.5628-.2388-1.013-.5705-1.3506-.9946-.3377-.4242-.5793-.9317-.725-1.5216-.1455-.59-.2184-1.2365-.2184-1.9392v-5.8276h2.4032v5.4497c0 1.1138.162 1.9093.4865 2.3867.3243.4773.8904.716 1.6982.716.2912 0 .599-.0132.9234-.0398.3242-.0263.566-.0597.725-.0994v-8.4132h2.403v10.084zm3.0586-9.7458c.4634-.1326 1.066-.2586 1.8074-.378.7414-.1192 1.5626-.179 2.4628-.179.8474 0 1.5557.116 2.125.3482.5696.232 1.023.5568 1.3606.9744.3376.4177.576.9214.715 1.5116.139.59.2085 1.2365.2085 1.9392v5.8475h-2.4032V18.222c0-.5568-.0364-1.031-.109-1.422-.073-.3912-.1922-.7092-.3576-.9546-.1655-.2453-.3907-.4242-.6753-.537-.2847-.1127-.6322-.169-1.0426-.169-.3045 0-.622.0198-.9533.0596-.331.0397-.576.073-.7348.0994v8.3933h-2.403v-10.064zm14.0416 10.064h-2.4032v-10.402h2.4032v10.402zm.2582-13.4452c0 .451-.1456.8087-.437 1.074-.2913.2652-.6355.3978-1.0327.3978-.4103 0-.7612-.1326-1.0526-.3978-.2913-.265-.437-.623-.437-1.074 0-.464.1457-.8288.437-1.094.2914-.265.6422-.3977 1.0527-.3977.3973 0 .7415.1327 1.0328.3978.2914.265.437.63.437 1.094zm2.6812.2984l2.4032-.398v3.1426h3.694v2.0088h-3.694v4.2364c0 .8354.1324 1.432.3972 1.79.2648.358.715.537 1.3505.537.437 0 .8242-.0463 1.1618-.139.3376-.093.6058-.179.8044-.2587l.3972 1.9095c-.278.1193-.642.242-1.0924.368-.4502.1257-.98.189-1.5888.189-.7415 0-1.3605-.0996-1.857-.2985-.4966-.199-.8904-.4873-1.1818-.8652-.2913-.378-.4965-.8353-.6156-1.3723-.1192-.537-.1788-1.1502-.1788-1.8398V10.545zm16.9016 2.7446c-1.0724 3.9515-2.317 7.5316-3.7338 10.7402-.2648.5967-.5363 1.107-.8143 1.5315-.278.424-.5893.7757-.9335 1.054-.3402.2765-.7317.4826-1.152.6068-.4234.1258-.9135.189-1.4696.189-.371 0-.7382-.0398-1.1023-.1193-.364-.0796-.6388-.1657-.824-.2586l.4368-1.9292c.4767.1858.9468.2785 1.41.2785.6223 0 1.109-.1492 1.46-.4475.351-.2984.6585-.759.9235-1.3823-.7548-1.4585-1.4797-3.0497-2.1748-4.7735-.695-1.7238-1.3143-3.5537-1.857-5.4894h2.562c.1325.557.2946 1.16.4866 1.81.3973 1.3422.8445 2.669 1.3408 3.9778.2352.623.487 1.24.7547 1.8497.4235-1.18.8207-2.4364 1.1916-3.769.3582-1.284.6958-2.5736 1.013-3.8684h2.4826z" id="Shape" fill="#FFF"/></g></g></svg>

      .alg-headermenu
          %ul.alg-headermenu__links
            %li 
              %a{href:  "", dropdown: "developers", enabled: "enabled"}
                Developers
            %li
              %a{href:  "", dropdown: "Support", enabled: "enabled"}
                Support

      .alg-headerhome
        .alg-headerhome__search
          %input{type: "text"}/
          <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M17.0575 18.1508c-1.8058 1.5198-4.1426 2.4364-6.6948 2.4364C4.6395 20.5872 0 15.9786 0 10.2936S4.6395 0 10.3627 0c5.723 0 10.3626 4.6086 10.3626 10.2936 0 2.5352-.9227 4.8564-2.4526 6.6502l1.3578 1.3488.2276-.226c.2106-.2092.5527-.2084.7633.0007l4.762 4.7302c.2108.2095.2103.5498.0006.758l-1.6774 1.6663c-.2106.209-.5527.2084-.7632-.0008l-4.762-4.73c-.211-.2097-.2104-.55-.0007-.7583l.2347-.233-1.358-1.349zm-6.6948-.3856c4.154 0 7.5217-3.3452 7.5217-7.4716 0-4.1265-3.3676-7.4716-7.5217-7.4716-4.1542 0-7.5218 3.345-7.5218 7.4716 0 4.1264 3.3675 7.4716 7.5217 7.4716z" fill="#FFF" fill-rule="evenodd"/></svg>

        .alg-headerhome__link
          %a{href: "https://www.algolia.com"}
            Go to algolia.com
            <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M7.046 8.347l3.643-3.25L12 6.64 5.99 12 0 6.64l1.313-1.542L5 8.518V0h2.046v8.347z" fill="currentColor" fill-rule="evenodd"></path></svg>

  %main.alg-community
    %section.alg-communityheader
      %header.alg-communityheader__container
        %h1.text-xl.m-t-none.p-l-large Hi there <span>👋<span>
        %p.p-l-large.text-lg Algolia Community is your central hub for discovering our open source projects, getting your hands on the latest search tools, and engaging with 1000s of Algolia developers.
        .spacer.spacer20
        .alg-communityareas
          .alg-communityareas__area.text-center.p-large
            %h3.text-lg We are Algolia
            %p.m-l-r-auto The API that covers your search experience.
            %button.btn.btn-static-default
              Discover Algolia
              <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M7.046 8.347l3.643-3.25L12 6.64 5.99 12 0 6.64l1.313-1.542L5 8.518V0h2.046v8.347z" fill="currentColor" fill-rule="evenodd"></path></svg>
          .alg-communityareas__area.text-center.p-large
            %h3.text-lg Community Forum
            %p.m-l-r-auto The forum is a place to ask questions and increase your Algolia knowledge
            %button.btn.btn-static-default
              Join the Discussion
              <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M7.046 8.347l3.643-3.25L12 6.64 5.99 12 0 6.64l1.313-1.542L5 8.518V0h2.046v8.347z" fill="currentColor" fill-rule="evenodd"></path></svg>

    %section.alg-communityprojects.m-l-r-auto
      .spacer.spacer60
      .alg-communityprojects__search
        %h1.text-lg Explore Resources
        #alg-community__search
      .spacer.spacer40
      #alg-communitycontainer--default.alg-communitycontainer.alg-communitycontainer__default
        .alg-communityprojects__facets
          %ul
            
        %section.alg-communityprojects__hits

      #alg-communitycontainer.alg-communitycontainer
        .alg-communityprojects__facets.alg-communityprojects__facets__is
        .alg-communityprojects__hits.alg-communityprojects__hits__is

        

  %div{id: "fb-root"}
    %script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.5&appId=217461055269773";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  %script{type: "text/javascript"}
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1654938174769952');
      fbq('track', "PageView");
  %noscript
    %img{height: "1",src: "https://www.facebook.com/tr?id=1654938174769952&ev=PageView&noscript=1",style: "display:none",width: "1"}

  -# %script
    -# window.twttr = (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return t; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function(f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));

   -# %script{src: "//platform.twitter.com/oct.js",type: "text/javascript"}
      -# twttr.conversion.trackPid('nuhd9', { tw_sale_amount: 0, tw_order_quantity: 0 });
  %noscript
    %img{alt: "",height: "1",src: "https://analytics.twitter.com/i/adsct?txn_id=nuhd9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;",width: "1"}
    %img{alt: "",height: "1",src: "//t.co/i/adsct?txn_id=nuhd9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;",width: "1"}

  -# %script
  -#   adroll_adv_id = "TGR7R4XSGVGYVPX4LQBDFQ"; adroll_pix_id = "YQNWNHGUUBD2JMY7BVOBWM"; (function () { var _onload = function(){ if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return} if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return} var scr = document.createElement("script"); var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com"); scr.setAttribute('async', 'true'); scr.type = "text/javascript"; scr.src = host + "/j/roundtrip.js"; ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr); }; if (window.addEventListener) {window.addEventListener('load', _onload, false);} else {window.attachEvent('onload', _onload)} }());
  %script
    var _kmq = _kmq || []; var _kmk = _kmk || '55469e64b104e85e15613b087c7d95bf9c0b1d6e'; function _kms(u){ setTimeout(function(){ var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); } _kms('//i.kissmetrics.com/i.js'); _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute;opacity:0;"}
    <!-- inject:svg --><!-- endinject -->
