!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:""}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{aria-controls: "navbar", aria-expanded: "false", data-target: "#navbar", data-toggle: "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "http://community.algolia.com"}
          %img{src: "img/logo-algolia.svg", width:"100px"}
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{href: "#"} Home
          %li
            %a{href: "#about"} About

  %header.hero
    .container
      .spacer60
      %h1.text-center Community

  %main
    %section.projects
      .container
        .row
          .col-sm-6
            .project-wrapper.big.instantsearch
              .project-header LIBRARY
              .project-desc
                .spacer60
                .row
                  .col-xs-2.col-xs-offset-1.col-sm-offset-2
                    %a{href: "https://community.algolia.com/instantsearch.js/"}
                      %img.img-responsive{src: "img/logo-is.svg", width: 86}
                  .col-xs-7.text-left
                    %a{href: "https://community.algolia.com/instantsearch.js/"}
                      %img{src: "img/logo-instantsearch.svg"}
                    .spacer5
                    %p.no-padding Pick from an extensive library of widgets, to power your search and build a state-of-the-art instant-search experience.
              .project-footer
                %a{href: "https://github.com/algolia/instantsearch.js"}
                  %svg.icon
                    %use{xlink:href: "#icon-github"}
            .spacer10
            .row
              .col-sm-6
                .project-wrapper.magento
                  .project-header PLUGIN
                  .project-desc
                    %svg.icon{height: 40}
                      %use{xlink:href: "#icon-magento"}
                    
                    %a.project-title{href: "https://community.algolia.com/magento/"}Magento
                  .project-footer

              .col-sm-6
                .project-wrapper.zendesk
                  .project-header PLUGIN
                  .project-desc
                    %svg.icon{height: 40}
                      %use{xlink:href: "#icon-zendesk"}
                    
                    %a.project-title{href: "https://community.algolia.com/zendesk/"} Zendesk
                  .project-footer
                    %a{href: "https://github.com/algolia/zendesk"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
                .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper.big.helperjs
                  .project-header LIBRARY
                  .project-desc
                    %svg.icon
                      %use{xlink:href: "#icon-helperjs"}
                    
                    %a.project-title{href: "http://algolia.github.io/algoliasearch-helper-js/"} helper.js
                    %p Your best companion for implmenting advanced search features with Algolia
                  .project-footer
                    %a{href: "https://github.com/algolia/algoliasearch-helper-js"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
                .spacer10
                .project-wrapper.salesforce
                  .project-header PLUGIN
                  .project-desc
                    %svg.icon{height: 40}
                      %use{xlink:href: "#icon-salesforce"}
                    
                    %a.project-title{href: "https://wordpress.algolia.com/"} Salesforce
                  .project-footer

              .col-sm-6
                .project-wrapper.grader
                  .project-header TOOL
                  .project-desc
                    %a.project-title.center-block
                      %svg.icon{height: 30, class: "small"}
                        %use{xlink:href: "#icon-grader", class:"pink"}
                      %span Grader
                    %a{class: "button pink to-bottom", href:"#"} Evaluate your search

                  .project-footer
                    
                .spacer10
                .project-wrapper.big.autocompletejs
                  .project-header LIBRARY
                  .project-desc
                    %img{src: "img/illus-autocomplete.svg"}
                    
                    %a.project-title{href: "https://github.com/algolia/autocomplete.js"} autocomplete.js
                    %p Add a fast and fully-featured auto-completion menu for your search box displaying results "as you type".
                  .project-footer
                    %a{href: "https://github.com/algolia/autocomplete.js"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}

        .spacer10
        .row
          .col-sm-6
            .project-wrapper.big.docsearch
              .project-header TOOL
              .project-desc
                %a{href: "https://community.algolia.com/docsearch/"}
                  %img{src: "img/illus-docsearch.svg"}
                %a{href: "https://community.algolia.com/docsearch/"}
                %p The easiest way to add search to your documentation.
                %a{href: "#", class:"button"}Join the Beta
              .project-footer

          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper.hackernews
                  .project-header DEMO
                  .project-desc
                    %svg.icon{height: 30}
                      %use{xlink:href: "#icon-hn"}
                    
                    %a.project-title{href: "http://hn.algolia.com"}Hackernews Search
                  .project-footer

              .col-sm-6
                .project-wrapper.githubsearch
                  .project-header TOOL
                  .project-desc
                    %svg.icon{height: 40}
                      %use{xlink:href: "#icon-github"}
                    
                    %a.project-title{href: "https://github.algolia.com"}Github Search
                  .project-footer
                    
            .spacer10
            .row
              .col-sm-6
                .project-wrapper.supersearch
                  .project-header DEMO
                  .project-desc
                    %svg.icon{height: 50}
                      %use{xlink:href: "#icon-superbowl"}
                    
                    %a.project-title{href: "https://community.algolia.com/supersearch"} SuperSearch
                  .project-footer

              .col-sm-6
                .project-wrapper
                  .project-header HELP?
                  .project-desc
                    %img{src: "img/illus-stackoverflow.svg", width: 40}
                    
                    %a.project-title{href: "http://stackoverflow.com/questions/tagged/algolia"} StackOverflow

        .spacer10

        .row
          .col-sm-3
              .project-wrapper.searchbox
                .project-header TOOL
                .project-desc
                  .spacer40
                  %a.project-title{href: "http://shipow.github.io/searchbox/"} SearchBox
                  %p A generator for search input.
                .project-footer
                  
              .spacer10
              .project-wrapper.swag
                .project-header SWAG
                .project-desc
                  %svg.icon{height: 40}
                    %use{xlink:href: "#icon-tshirt"}
                  
                  %a{href: "#", class: "button full"} Get your free t-shirt
          .spacer10.visible-xs
          .col-sm-3
            .project-wrapper.big.expectjs
              .project-header TOOL
              .project-desc
                %svg.icon{width: 60}
                  %use{xlink:href: "#icon-react"}
                
                %a.project-title{href: "https://github.com/algolia/expect-jsx"} Expect JSX
                %p toEqulJSX for mjackson/expect
          .spacer10.visible-xs
          .col-sm-6
            .project-wrapper.newsletter
              .project-header LEARN
              .project-desc
                %a.project-title{href: "https://github.com/algolia/expect-jsx"}Newsletter
                %p Learn how to build a delightful  search experience
                #mc_embed_signup
                  %form#mc-embedded-subscribe-form.validate{action: "//algolia.us3.list-manage.com/subscribe/post?u=f7b8acc6ec97794a08484ca9b&amp;id=285b80e148", method: "post", name: "mc-embedded-subscribe-form", novalidate: ""}
                    #mc_embed_signup_scroll
                      .input-group
                        %input#mce-EMAIL.form-control{name: "EMAIL", placeholder: "Email Address", type: "email", value: ""}
                          %span.input-group-btn
                            %input#mc-embedded-subscribe.btn.btn-primary{name: "subscribe", type: "submit", value: "Subscribe"}
                      #mce-responses.clear
                        #mce-error-response.response{style: "display:none"}
                        #mce-success-response.response{style: "display:none"}
                      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                      %div{style: "position: absolute; left: -5000px;"}
                        %input{name: "b_f7b8acc6ec97794a08484ca9b_285b80e148", tabindex: "-1", type: "text", value: ""}/
            .spacer10
            .row
              .col-sm-6
                .project-wrapper.talks
                  .project-header LEARN
                  .project-desc
                    %svg.icon{height: 40}
                      %use{xlink:href: "#icon-talks"}
                    
                    %a.project-title{href: "#"} Talks
              .spacer10.visible-xs
              .col-sm-6
                .project-wrapper.publicdatas
                  .project-header LEARN
                  .project-desc
                    %svg.icon{height: 30}
                      %use{xlink:href: "#icon-index"}
                    
                    %a.project-title{href: "#"}Public Datasets


    %section.tools
      .container
        %h2.text-center.m-b-large Api Clients & Tools
      .tools-category.tools-web
        .container
          %h3 Web
      .container
        %ul.list-inline
          %li
            %img{src: "img/icons/javascript.svg"}
            algoliasearch.js
          %li
            %img{src: "img/icons/algolia-helper.svg"}
            algolia-helper.js
          %li
            %img{src: "img/icons/instantsearchjs.svg"}
            instantsearch.js
          %li
            %img{src: "img/icons/autocompletejs.svg"}
            autocomplete.js
      .tools-category.tools-mobile
        .container
          %h3 Mobile
      .container
        %ul.list-inline
          %li
            %img{src: "img/icons/android.svg"}
            Android
          %li
            %img{src: "img/icons/swift.svg"}
            Swift
          %li
            %img{src: "img/icons/objc.svg"}
            Objective-c
      .tools-category.tools-backend
        .container
          %h3 Back-end & Integrations
      .container
        %ul.list-inline
          %li
            %img{src: "img/icons/java.svg"}
            Java
          %li
            %img{src: "img/icons/rails.svg"}
            Rails
          %li
            %img{src: "img/icons/curl.svg"}
            Curl
          %li
            %img{src: "img/icons/csharp.svg"}
            C#
          %li
            %img{src: "img/icons/php.svg"}
            PHP
          %li
            %img{src: "img/icons/ruby.svg"}
            Ruby
          %li
            %img{src: "img/icons/django.svg"}
            Django
          %li
            %img{src: "img/icons/synfony.svg"}
            Synfony
          %li
            %img{src: "img/icons/cmd.svg"}
            Shell
          %li
            %img{src: "img/icons/node.svg"}
            Node.js
          %li
            %img{src: "img/icons/python.svg"}
            Python
          %li
            %img{src: "img/icons/go.svg"}
            Go
          %li
            %img{src: "img/icons/scala.svg"}
            Scala

    %section.events
      .container
        %h2.text-center.m-b-large Events
        .row
          .col-sm-6
            .event-wrapper.big
              .event-desc
                Event
          .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
              .spacer10.visible-xs
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
            .spacer10
            .row
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
              .spacer10.visible-xs
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event

    %footer.footer
      .container
        .row
          .col-sm-6
            %h3 Want to work with us
          .col-sm-3
            %h3 Connect
          .col-sm-3
            %h3 Keep updated

  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden; display:none"}
    <!-- inject:svg --><!-- endinject -->
