!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:""}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

%body

  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden"}
    <!-- inject:svg --><!-- endinject -->
