!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:""}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{aria-controls: "navbar", aria-expanded: "false", data-target: "#navbar", data-toggle: "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "http://community.algolia.com"}
          %img{src: "img/logo-algolia.svg", width:"100px"}
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{href: "#"} Home
          %li
            %a{href: "#about"} About

  %header.hero
    .container
      .spacer60
      %h1.text-center Community

  %main
    %section.projects
      .container
        .row
          .col-sm-6
            .project-wrapper.big
              .project-desc
                instantsearch.js
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper
                  .project-desc
                    helper.js
              .col-sm-6
                .project-wrapper
                  .project-desc
                    autocomplete.js
            .spacer20
            .row
              .col-sm-6
                .project-wrapper
                  .project-desc
                    Wordpress
              .col-sm-6
                .project-wrapper
                  .project-desc
                    Grader
        .spacer20
        .row
          .col-sm-3
            .project-wrapper
              .project-desc
                Magento
          .col-sm-3
            .project-wrapper
              .project-desc
                Zendesk
          .col-sm-3
            .project-wrapper
              .project-desc
                Jekyll
          .col-sm-3
            .project-wrapper
              .project-desc
                Salesforce
        .spacer20
        .row
          .col-sm-6
            .project-wrapper.big
              .project-desc
                DocSearch
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper
                  .project-desc
                    HN Search
              .col-sm-6
                .project-wrapper
                  .project-desc
                    Github Search
            .spacer20
            .row
              .col-sm-6
                .project-wrapper
                  .project-desc
                    SuperSearch
              .col-sm-6
                .project-wrapper
                  .project-desc
                    Goodies
        .spacer20
        .row
          .col-sm-3
            .project-wrapper
              .project-desc
                StackOverflow
          .col-sm-3
            .project-wrapper
              .project-desc
                Datasets
          .col-sm-3
            .project-wrapper
              .project-desc
                SearchBox
          .col-sm-3
            .project-wrapper
              .project-desc
                Expect-JSX

        .spacer20
        .row
          .col-sm-3
            .project-wrapper
              .project-desc
                Blog 1
          .col-sm-3
            .project-wrapper
              .project-desc
                Blog 2
          .col-sm-3
            .project-wrapper
              .project-desc
                Blog 3
          .col-sm-3
            .project-wrapper
              .project-desc
                Blog 4

    %section.tools
      .container
        %h2.text-center.m-b-large Api Clients & Tools
      .tools-category.tools-web
        .container
          %h3 Web
      .container
        %ul.list-inline
          %li algoliasearch.js
          %li instantsearch.js
          %li autocomplete.js
          %li algolia-helper.js
      .tools-category.tools-mobile
        .container
          %h3 Mobile
      .container
        %ul.list-inline
          %li android
          %li swift
          %li objective-c
      .tools-category.tools-backend
        .container
          %h3 Back-end
      .container
        %ul.list-inline
          %li Scala
          %li ...


    %section.events
      .container
        %h2.text-center.m-b-large Events
        .row
          .col-sm-6
            .event-wrapper.big
              .event-desc
                Event
          .col-sm-6
            .row
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
            .spacer20
            .row
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event

    %footer.footer
      .container
        .row
          .col-sm-6
            %h3 Want to work with us
          .col-sm-3
            %h3 Connect
          .col-sm-3
            %h3 Keep updated

  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden"}
    <!-- inject:svg --><!-- endinject -->
