!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:"Discover Algolia & build great search with our community"}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

  //webmastertools
  %meta{name: "google-site-verification", content: "Kchm7Sc4EMavWFw1y3NC89h9SpHixZMdGMRyddMEaOI"}

%body
  %header.alg-header
    .alg-header__container.m-l-r-auto
      .alg-communitylogo
        %a{href: ""}
          %img{src: "/img/logos/logo-community-darkbg.svg", alt: ""}/

      .alg-headermenu.color-bunting
          %ul.alg-headermenu__links
            %li 
              %a.color-bunting{href:  "", dropdown: "developers", enabled: "enabled"}
                Developers
            %li
              %a.color-bunting{href:  "", dropdown: "Support", enabled: "enabled"}
                Support

      .alg-headerhome
        .alg-headerhome__link
          %a.color-bunting{href: "https://www.algolia.com"}
            Go to algolia.com
            <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M7.046 8.347l3.643-3.25L12 6.64 5.99 12 0 6.64l1.313-1.542L5 8.518V0h2.046v8.347z" fill="currentColor" fill-rule="evenodd"></path></svg>

  %main.alg-community
    %section.alg-communityheader
      %header.alg-communityheader__container
        %h1.text-xl.m-t-none.p-l-large.color-bunting.m-b-none Hi there <span>👋<span>
        .spacer8
        %p.p-l-large.text-muted.text-lg.m-t-none Algolia Community is your central hub for discovering our open source projects, getting your hands on the latest search tools, and engaging with 1000s of Algolia developers.
        .spacer.spacer24
        .alg-communityareas.radius6.elevation2
          .alg-communityareas__area.text-center.p-large
            %h3.text-lg We are Algolia
            %p.m-l-r-auto The API that covers your search experience.
            %a{href: "https://algolia.com/"}
              %button.btn-lg.btn.btn-static-primary.elevation1
                Read the Docs
                <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M7.046 8.347l3.643-3.25L12 6.64 5.99 12 0 6.64l1.313-1.542L5 8.518V0h2.046v8.347z" fill="currentColor" fill-rule="evenodd"></path></svg>
          .alg-communityareas__area.text-center.p-large
            %h3.text-lg Community Forum
            %p.m-l-r-auto The forum is a place to ask questions and increase your Algolia knowledge
            %a{href: "https://discourse.algolia.com/"}
              %button.btn-lg.btn.btn-static-secondary.elevation1
                Join the Discussion
                <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M7.046 8.347l3.643-3.25L12 6.64 5.99 12 0 6.64l1.313-1.542L5 8.518V0h2.046v8.347z" fill="currentColor" fill-rule="evenodd"></path></svg>

    %section.projects.fill-titan
      .alg-communityprojects.m-l-r-auto.pos-rel
        .spacer.spacer120
        .alg-communityprojects__search
          %h1.text-lg Explore Resources
          #alg-community__search
        .spacer.spacer40
        #alg-communitycontainer--default.alg-communitycontainer.alg-communitycontainer__default
          .alg-communityprojects__facets
            %ul
              
          %section.alg-communityprojects__hits

        #alg-communitycontainer.alg-communitycontainer
          .alg-communityprojects__facets.alg-communityprojects__facets__is
          .alg-communityprojects__hits.alg-communityprojects__hits__is
      .spacer120
    %section.cta-free-trial.fill-algolia-blue.pos-rel
      .spacer64.hidden-xs
      .spacer120.hidden-xs
      .spacer120
      .container.p-l-small.p-r-small
        .row.cf
          .col-md-6
            %h3.color-white Share your Algolia story
            %p.color-white Don't wait! Try Algolia! No credit card required. Try Algolia for free for 14 days.
          .col-md-6.text-right
            .spacer16
            %a.btn.btn-static-dark{href: "users/sign_up"}
              Share your story
              <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M7.046 8.347l3.643-3.25L12 6.64 5.99 12 0 6.64l1.313-1.542L5 8.518V0h2.046v8.347z" fill="currentColor" fill-rule="evenodd"></path></svg>
            .spacer8
      .spacer64.hidden-xs
      .spacer120
        

  %div{id: "fb-root"}
    %script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.5&appId=217461055269773";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  %script{type: "text/javascript"}
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1654938174769952');
      fbq('track', "PageView");
  %noscript
    %img{height: "1",src: "https://www.facebook.com/tr?id=1654938174769952&ev=PageView&noscript=1",style: "display:none",width: "1"}

  -# %script
    -# window.twttr = (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return t; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function(f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));

   -# %script{src: "//platform.twitter.com/oct.js",type: "text/javascript"}
      -# twttr.conversion.trackPid('nuhd9', { tw_sale_amount: 0, tw_order_quantity: 0 });
  %noscript
    %img{alt: "",height: "1",src: "https://analytics.twitter.com/i/adsct?txn_id=nuhd9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;",width: "1"}
    %img{alt: "",height: "1",src: "//t.co/i/adsct?txn_id=nuhd9&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;",width: "1"}

  -# %script
  -#   adroll_adv_id = "TGR7R4XSGVGYVPX4LQBDFQ"; adroll_pix_id = "YQNWNHGUUBD2JMY7BVOBWM"; (function () { var _onload = function(){ if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return} if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return} var scr = document.createElement("script"); var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com"); scr.setAttribute('async', 'true'); scr.type = "text/javascript"; scr.src = host + "/j/roundtrip.js"; ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr); }; if (window.addEventListener) {window.addEventListener('load', _onload, false);} else {window.attachEvent('onload', _onload)} }());
  %script
    var _kmq = _kmq || []; var _kmk = _kmk || '55469e64b104e85e15613b087c7d95bf9c0b1d6e'; function _kms(u){ setTimeout(function(){ var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); } _kms('//i.kissmetrics.com/i.js'); _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute;opacity:0;"}
    <!-- inject:svg --><!-- endinject -->
