!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:""}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

%body
  %header.hero
    .container.pos-rel
      %ul.share
        %li
          %a{href:"https://twitter.com/algolia"}
            %svg.icon
              %use{xlink:href: "#icon-twitter"}
        %li
          %a{href:"https://www.facebook.com/algolia"}
            %svg.icon
              %use{xlink:href: "#icon-facebook"}
        %li
          %a{href:"https://github.com/algolia"}
            %svg.icon
              %use{xlink:href: "#icon-github"}
        %li
          %a{href:"https://www.producthunt.com/@algolia"}
            %svg.icon
              %use{xlink:href: "#icon-producthunt"}
      .spacer60
      %h1.text-center
        %a.navbar-brand{href: "http://www.algolia.com"}
          %img{src: "img/logo-algolia.svg", width: 100, alt: "Algolia"}
        %a{href: "http://comunity.algolia.com"} Community

  %main
    %section.projects
      .container#grid
        .row
          .col-sm-6
            .project-wrapper.big.ee
              %img{src:"img/ee_ux-glass.gif", alt: "UX"}
            %figure.effect-apollo.project-wrapper.big.instantsearch.draggable
              %figcaption
                .project-header LIBRARY
                %a.project-desc{href: "https://community.algolia.com/instantsearch.js/"}
                  %link.rippleJS
                  .spacer60
                  .row
                    .col-xs-2.col-xs-offset-1.col-sm-offset-2
                      %img.icon.img-responsive{src: "img/logo-is.svg", width: 80, alt: "instantsearch"}
                    .col-xs-7.text-left
                      %img.logo{src: "img/logo-instantsearch.svg", , alt: "instants"}
                      %p.desc.no-padding Pick from an extensive library of widgets, to power your search and build a state-of-the-art instant-search experience.
                .project-footer
                  %a{href: "https://github.com/algolia/instantsearch.js"}
                    %svg.icon
                      %use{xlink:href: "#icon-github"}
            .spacer10
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.magento
                  %figcaption
                    .project-header PLUGIN
                    %a.project-desc{href: "https://community.algolia.com/magento/"}
                      %link.rippleJS
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-magento"}
                      .project-title Magento
                      .spacer10
                    .project-footer
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.zendesk
                  %figcaption
                    .project-header PLUGIN
                    %a.project-desc{href: "https://community.algolia.com/zendesk/"}
                      %link.rippleJS
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-zendesk"}
                      .project-title Zendesk
                      .spacer10
                    .project-footer
                      %a{href: "https://github.com/algolia/zendesk"}
                        %svg.icon
                          %use{xlink:href: "#icon-github"}
                .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper.big.ee
                  %img{src:"img/ee_too-quick-devops.gif", alt: "Too quick!"}
                  %p.quote "I'm too quick for a video!"
                %figure.effect-apollo.project-wrapper.big.helperjs.draggable
                  %figcaption
                    .project-header LIBRARY
                    %a.project-desc{href: "http://algolia.github.io/algoliasearch-helper-js/"}
                      %link.rippleJS
                      %svg.icon{height: 80}
                        %use{xlink:href: "#icon-helperjs"}
                      .spacer20
                      .project-title helper.js
                      .spacer10
                      .desc Your best companion for implmenting advanced search features with Algolia
                    .project-footer
                      %a{href: "https://github.com/algolia/algoliasearch-helper-js"}
                        %svg.icon
                          %use{xlink:href: "#icon-github"}
                .spacer10
                %figure.effect-apollo.project-wrapper.salesforce
                  %figcaption
                    .project-header PLUGIN
                    %a.project-desc{href: "#"}
                      %link.rippleJS
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-salesforce"}
                      .project-title Salesforce
                      .spacer10
                    .project-footer
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.grader
                  %figcaption
                    .project-header %span TOOL
                    %a.project-desc{href:"#"}
                      %link.rippleJS
                      .project-title.center-block
                        %svg.icon{height: 30, class: "small"}
                          %use{xlink:href: "#icon-grader", class:"pink"}
                        %span Grader
                      .button Evaluate your search

                .spacer10
                %figure.effect-apollo.project-wrapper.big.autocompletejs
                  %figcaption
                    .project-header LIBRARY
                    %a.project-desc{href: "https://github.com/algolia/autocomplete.js"}
                      %link.rippleJS
                      %img.icon{src: "img/illus-autocomplete.svg", alt: "auto complete"}
                      .project-title autocomplete.js
                      .spacer10
                      .desc Add a fast and fully-featured auto-completion menu for your search box displaying results "as you type".
                    .project-footer
                      %a{href: "https://github.com/algolia/autocomplete.js"}
                        %svg.icon
                          %use{xlink:href: "#icon-github"}

        .spacer10
        .row
          .col-sm-6
            %figure.effect-apollo.project-wrapper.big.docsearch
              %figcaption
                .project-header TOOL
                .spacer10
                %a.project-desc{href: "https://community.algolia.com/docsearch/"}
                  %link.rippleJS
                  %img.icon{src: "img/illus-docsearch.svg", alt: "doc search"}
                  .desc.text-center The easiest way to add search to your documentation.
                  .spacer20
                  .button Join the Beta
                .project-footer
          .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.hackernews
                  %figcaption
                    .project-header DEMO
                    %a.project-desc{href: "http://hn.algolia.com?experimental"}
                      %link.rippleJS
                      %svg.icon{height: 30}
                        %use{xlink:href: "#icon-hn"}
                      .project-title Hackernews Search

              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.githubsearch
                  %figcaption
                    .project-header TOOL
                    %a.project-desc{href: "https://github.algolia.com"}
                      %link.rippleJS
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-github"}
                      .project-title Github Search
                      .spacer10
                    .project-footer

            .spacer10
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.supersearch
                  %figcaption
                    .project-header DEMO
                    %a.project-desc{href: "https://community.algolia.com/supersearch"}
                      %link.rippleJS
                      %svg.icon{height: 50}
                        %use{xlink:href: "#icon-superbowl"}
                      .project-title SuperSearch

              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper
                  %figcaption
                    .project-header NEED HELP?
                    %a.project-desc{href: "http://stackoverflow.com/questions/tagged/algolia"}
                      %link.rippleJS
                      %img.icon{src: "img/illus-stackoverflow.svg", width: 40, alt: "stackoverflow"}
                      .project-title ASK StackOverflow
        .spacer10
        .row
          .col-sm-3
              %figure.effect-apollo.project-wrapper.searchbox
                %figcaption
                  .project-header TOOL
                    %a.project-desc{href: "http://shipow.github.io/searchbox/"}
                      %link.rippleJS
                      .spacer50
                      .project-title SearchBox
                      .desc.text-center A generator for search input.
              .spacer10
              %figure.effect-apollo.project-wrapper.swag
                %figcaption
                  .project-header SWAG
                  %a.project-desc{href: "#"}
                    %link.rippleJS
                    %svg.icon{height: 40}
                      %use{xlink:href: "#icon-tshirt"}
                    .button.full Get your free t-shirt

          .spacer10.visible-xs
          .col-sm-3
            .project-wrapper.big.ee
              %img{src:"img/ee_vvo.png", alt: "vvo.js"}
            %figure.effect-apollo.project-wrapper.big.expectjs.draggable
              %figcaption
                .project-header TOOL
                %a.project-desc{href: "https://github.com/algolia/expect-jsx"}
                  %link.rippleJS
                  %svg.icon{height: 120}
                    %use{xlink:href: "#icon-react"}
                  .spacer20
                  .project-title Expect JSX
                  .desc toEqulJSX for mjackson/expect
          .spacer10.visible-xs
          .col-sm-6
            %figure.effect-apollo.project-wrapper.newsletter
              %figcaption
                .project-header LEARN
                .project-desc
                  %link.rippleJS
                  #mc_embed_signup
                    %form#mc-embedded-subscribe-form.validate{action: "//algolia.us3.list-manage.com/subscribe/post?u=f7b8acc6ec97794a08484ca9b&amp;id=285b80e148", method: "post", name: "mc-embedded-subscribe-form", novalidate: ""}
                      #mc_embed_signup_scroll
                        .input-group
                          %input#mce-EMAIL{ name: "EMAIL", placeholder: "Email Address", type: "email", value: ""}
                          %button#mc-embedded-subscribe.button{ type: "submit"}
                            Subscribe
                        #mce-responses.clear
                          #mce-error-response.response{style: "display:none"}
                          #mce-success-response.response{style: "display:none"}
                        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        %div{style: "position: absolute; left: -5000px;"}
                          %input{name: "b_f7b8acc6ec97794a08484ca9b_285b80e148", tabindex: "-1", type: "text", value: ""}/
                  .spacer15
                  .project-title Newsletter
                  .desc.text-center Learn how to build a delightful search experience
            .spacer10
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.talks
                  %figcaption
                    %link.rippleJS
                    .project-header LEARN
                    %a.project-desc{href: "#"}
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-talks"}
                      .project-title Talks
                    .spacer10
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.publicdatas
                  %figcaption
                    %link.rippleJS
                    .project-header LEARN
                    %a.project-desc{href: "#"}
                      %svg.icon{height: 30}
                        %use{xlink:href: "#icon-index"}
                      .project-title Public Datasets

    %section.tools
      %h2.text-center.m-b-large API Clients & Tools
      .container
        .row
          .col-sm-2.text-center.hidden-xs
            .tools-category.web
              %img{src:"img/illus-web.svg", alt: "web"}
              %h3 Web
            .tools-category.mobile
              %img{src:"img/illus-mobile.svg", alt: "mobile"}
              %h3 Mobile
            .tools-category.backend
              %img{src:"img/illus-backend.svg", alt: "backend"}
              %h3 Back-end
          .col-sm-10
            .row.list-tools
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-js"}
                  %img{src: "img/icons/javascript.svg", height:50, alt: "js"}
                  .spacer10
                  .title algoliasearch.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-helper-js"}
                  %img{src: "img/icons/algolia-helper.svg", height:50, alt: "helper"}
                  .spacer10
                  .title  algolia-helper.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/instantsearch.js"}
                  %img{src: "img/icons/instantsearchjs.svg", height:50, alt: "instantsearch"}
                  .spacer10
                  .title instantsearch.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/autocomplete.js"}
                  %img{src: "img/icons/autocompletejs.svg", height:50, alt: "autocomplete"}
                  .spacer10
                  .title  autocomplete.js

            .row.list-tools
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-objc"}
                  %img{src: "img/icons/objc.svg", height:50, alt: "objective c"}
                  .spacer10
                  .title  Objective-C
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-swift"}
                  %img{src: "img/icons/swift.svg", height:50, alt: "swift"}
                  .spacer10
                  .title Swift
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-android"}
                  %img{src: "img/icons/android.svg", height:50, alt: "android"}
                  .spacer10
                  .title Android

            .row.list-tools
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-java"}
                  %img{src: "img/icons/java.svg", height:50, alt: "java"}
                  .spacer10
                  .title Java
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-rails"}
                  %img{src: "img/icons/rails.svg", height:50, alt: "rails"}
                  .spacer10
                  .title Rails
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-cmd"}
                  %img{src: "img/icons/curl.svg", height:50, alt: "curl"}
                  .spacer10
                  .title Curl
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-csharp"}
                  %img{src: "img/icons/csharp.svg", height:50, alt: "c sharp"}
                  .spacer10
                  .title C#
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-php"}
                  %img{src: "img/icons/php.svg", height:50, alt: "php"}
                  .spacer10
                  .title PHP
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-ruby"}
                  %img{src: "img/icons/ruby.svg", height:50, alt: "ruby"}
                  .spacer10
                  .title Ruby
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-django"}
                  %img{src: "img/icons/django.svg", height:50, width: 49, alt: "django"}
                  .spacer10
                  .title Django
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/AlgoliaSearchBundle"}
                  %img{src: "img/icons/synfony.svg", height:50, alt: "synfony"}
                  .spacer10
                  .title Synfony
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-js"}
                  %img{src: "img/icons/node.svg", height:50, alt:"node", alt: "node"}
                  .spacer10
                  .title  Node.js
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-python"}
                  %img{src: "img/icons/python.svg", height:50, alt: "python"}
                  .spacer10
                  .title Python
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-go"}
                  %img{src: "img/icons/go.svg", height:50, alt: "go"}
                  .spacer10
                  .title Go
              .col-sm-3.col-xs-6
                %a.tool-wrapper{href:"https://github.com/algolia/algoliasearch-client-scala"}
                  %img{src: "img/icons/scala.svg", height:50, alt: "scala"}
                  .spacer10
                  .title Scala

    %section.events
      .container
        %h2.text-center.m-b-large Events
        .row
          .col-sm-6
            %a.event-wrapper.big{href:"#"}
              %img.img-responsive{src:"img/event-mdtp.png", alt: "mind the product"}
              .event-desc
                %span.date May 4th - San Francisco
                %br
                %span.title Mind the product
                %svg.icon
                  %use{xlink:href: "#icon-calendar"}
          .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                %a.event-wrapper{href:"#"}
                  %img.img-responsive{src:"img/event-retail.png", alt: "retail asia"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title Retail Tech Asia
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
              .spacer10.visible-xs
              .col-sm-6
                %a.event-wrapper{href:"#"}
                  %img.img-responsive{src:"img/event-irce.png", alt: "irce"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title IRCE
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
            .spacer10
            .row
              .col-sm-6
                %a.event-wrapper{href:"#"}
                  %img.img-responsive{src:"img/event-rise.png", alt: "rise"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title RISE
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
              .spacer10.visible-xs
              .col-sm-6
                %a.event-wrapper{href:"#"}
                  %img.img-responsive{src:"img/event-ecomshow.png", alt: "ecommerce show"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title Ecommerce Show
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}

    %footer.footer
      .container
        .row
          .col-sm-6
            %h3 Want to work with us
            %ul.list-unstyled
              %li Our open positions
              %li About us
          .col-sm-3
            %h3 Connect
            %ul.list-unstyled
              %li Twitter
              %li Facebook
          .col-sm-3
            %h3 Keep updated
        .row
          .spacer100
          .col-absolute-center
            %img.alg-phrase{src: "img/milliseconds-matter.svg", alt: "millisecondsmatter"}
        .text-center
          .spacer30
          ©<span class="brand-name">Algolia</span> 2016

  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden; display:none"}
    <!-- inject:svg --><!-- endinject -->
