!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:""}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{aria-controls: "navbar", aria-expanded: "false", data-target: "#navbar", data-toggle: "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "http://community.algolia.com"}
          %img{src: "img/logo-algolia.svg", width:"100px"}
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{href: "#"} Home
          %li
            %a{href: "#about"} About

  %header.hero
    .container
      .spacer60
      %h1.text-center Community

  %main
    %section.projects
      .container
        .row
          .col-sm-6
            .project-wrapper.big.instantsearch
              .project-desc
                %a{href: "https://community.algolia.com/instantsearch.js/"}instantsearch.js
                %a{href: "https://github.com/algolia/instantsearch.js"}
                  %svg.icon
                    %use{xlink:href: "#icon-github"}
            .spacer10
            .row
              .col-sm-6
                .project-wrapper.magento
                  .project-desc
                    %a{href: "https://community.algolia.com/magento/"}Magento
                    %a{href: "https://github.com/algolia/magento"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
              .col-sm-6
                .project-wrapper.zendesk
                  .project-desc
                    %a{href: "https://community.algolia.com/zendesk/"}Zendesk
                    %a{href: "https://github.com/algolia/zendesk"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper.big.helperjs
                  .project-desc
                    %a{href: "http://algolia.github.io/algoliasearch-helper-js/"}helper.js
                    %a{href: "https://github.com/algolia/algoliasearch-helper-js"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
                .spacer10
                .project-wrapper.salesforce
                  .project-desc
                    %a{href: "https://wordpress.algolia.com/"}Salesforce
                    %a{href: "https://github.com/algolia/wordpress-search"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
              .col-sm-6
                .project-wrapper.autocompletejs
                  .project-desc
                    %a{href: "https://github.com/algolia/autocomplete.js"}Grader
                    %a{href: "https://github.com/algolia/autocomplete.js"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
                .spacer10
                .project-wrapper.hx2.autocompletejs
                  .project-desc
                    %a{href: "https://github.com/algolia/autocomplete.js"}autocomplete.js
                    %a{href: "https://github.com/algolia/autocomplete.js"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}


        .spacer10
        .row
          .col-sm-6
            .project-wrapper.big.docsearch
              .project-desc
                %a{href: "https://community.algolia.com/docsearch/"}DocSearch
                %a{href: "https://github.com/algolia/docsearch"}
                  %svg.icon
                    %use{xlink:href: "#icon-github"}
          .col-sm-6
            .row
              .col-sm-6
                .project-wrapper.hackernews
                  .project-desc
                    %a{href: "http://hn.algolia.com"}Hn Search
                    %a{href: "https://github.com/algolia/hn-search"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
              .col-sm-6
                .project-wrapper.githubsearch
                  .project-desc
                    %a{href: "https://github.algolia.com"}Github Search
                    %a{href: "https://github.com/algolia/github-awesome-autocomplete"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
            .spacer10
            .row
              .col-sm-6
                .project-wrapper.supersearch
                  .project-desc
                    %a{href: "https://community.algolia.com/supersearch"}SuperSearch
                    %a{href: "https://github.com/algolia/supersearch"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
              .col-sm-6
                .project-wrapper
                  .project-desc
                    %a{href: "http://stackoverflow.com/questions/tagged/algolia"}StackOverflow
        .spacer10

        .row
          .col-sm-3
              .project-wrapper
                .project-desc
                  %a{href: "http://shipow.github.io/searchbox/"}SearchBox
                    %a{href: "https://github.com/Shipow/searchbox"}
                      %svg.icon
                        %use{xlink:href: "#icon-github"}
              .spacer10
              .project-wrapper
                .project-desc
                  %a{href: "#"}Swag
                   
          .col-sm-3
            .project-wrapper.big
                .project-desc
                  Tools

          .col-sm-6
              .project-wrapper.newsletter
                .project-desc
                  %a{href: "https://github.com/algolia/expect-jsx"}Newsletter
            .spacer10
            .row
              .col-sm-6
                .project-wrapper.newsletter
                  .project-desc
                    %a{href: "https://github.com/algolia/expect-jsx"}Talks
              .col-sm-6
                .project-wrapper.newsletter
                  .project-desc
                    %a{href: "https://github.com/algolia/expect-jsx"}Public Datasets

            
        -# .spacer10
        -# .row
        -#   .col-sm-3
        -#     .project-wrapper
        -#       .project-desc
        -#         Blog 1
        -#   .col-sm-3
        -#     .project-wrapper
        -#       .project-desc
        -#         Blog 2
        -#   .col-sm-3
        -#     .project-wrapper
        -#       .project-desc
        -#         Blog 3
        -#   .col-sm-3
        -#     .project-wrapper
        -#       .project-desc
        -#         Blog 4

    %section.tools
      .container
        %h2.text-center.m-b-large Api Clients & Tools
      .tools-category.tools-web
        .container
          %h3 Web
      .container
        %ul.list-inline
          %li algoliasearch.js
          %li instantsearch.js
          %li autocomplete.js
          %li algolia-helper.js
      .tools-category.tools-mobile
        .container
          %h3 Mobile
      .container
        %ul.list-inline
          %li android
          %li swift
          %li objective-c
      .tools-category.tools-backend
        .container
          %h3 Back-end
      .container
        %ul.list-inline
          %li Scala
          %li ...


    %section.events
      .container
        %h2.text-center.m-b-large Events
        .row
          .col-sm-6
            .event-wrapper.big
              .event-desc
                Event
          .col-sm-6
            .row
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
            .spacer10
            .row
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event
              .col-sm-6
                .event-wrapper
                  .event-desc
                    Event

    %footer.footer
      .container
        .row
          .col-sm-6
            %h3 Want to work with us
          .col-sm-3
            %h3 Connect
          .col-sm-3
            %h3 Keep updated

  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden; display:none"}
    <!-- inject:svg --><!-- endinject -->
