!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Algolia Community
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Raleway:100,400,600", rel: "stylesheet", type: "text/css"}
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  %meta{name: "description", content:""}
  %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# twitter
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@Algolia"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  -# og
  %meta{property: "og:url", content: "https://community.algolia.com/"}
  %meta{property: "og:title", content: "Algolia Community"}
  %meta{property: "og:description", content: ""}
  %meta{property: "og:image", content: "https://community.algolia.com/img/og_screen.png"}

%body
  %nav#nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{aria-controls: "navbar", aria-expanded: "false", data-target: "#navbar", data-toggle: "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: "#"} Open Source Projects
          %li
            %a{href: "#web"} Web
          %li
            %a{href: "#mobile"} Mobile
          %li
            %a{href: "#backend"} Backend
          %li
            %a{href: "#about"} Events

  %header.hero
    %ul.share
      %li
        %svg.icon
          %use{xlink:href: "#icon-twitter"}
      %li
        %svg.icon
          %use{xlink:href: "#icon-facebook"}
      %li
        %svg.icon
          %use{xlink:href: "#icon-github"}
    .container
      .spacer60
      %h1.text-center
        %a.navbar-brand{href: "http://community.algolia.com"}
          %img{src: "img/logo-algolia.svg", width:"100px"}
        Community

  %main

    %section.projects
      .container
        .row
          .col-sm-6
            %figure.effect-apollo.project-wrapper.big.instantsearch
              %figcaption
                .project-header LIBRARY
                .project-desc
                  .spacer60
                  .row
                    .col-xs-2.col-xs-offset-1.col-sm-offset-2
                      %a{href: "https://community.algolia.com/instantsearch.js/"}
                        %img.icon.img-responsive{src: "img/logo-is.svg", width: 86}
                    .col-xs-7.text-left
                      %a{href: "https://community.algolia.com/instantsearch.js/"}
                        %img{src: "img/logo-instantsearch.svg"}
                      %p.no-padding Pick from an extensive library of widgets, to power your search and build a state-of-the-art instant-search experience.
                .project-footer
                  %a{href: "https://github.com/algolia/instantsearch.js"}
                    %svg.icon
                      %use{xlink:href: "#icon-github"}
            .spacer10
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.magento.elasticstack
                  %figcaption
                    .project-header PLUGIN
                    .project-desc
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-magento"}
                      %a.project-title{href: "https://community.algolia.com/magento/"}Magento
                      .spacer10
                    .project-footer
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.zendesk
                  %figcaption
                    .project-header PLUGIN
                    .project-desc
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-zendesk"}

                      %a.project-title{href: "https://community.algolia.com/zendesk/"} Zendesk
                      .spacer10
                    .project-footer
                      %a{href: "https://github.com/algolia/zendesk"}
                        %svg.icon
                          %use{xlink:href: "#icon-github"}
                .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.big.helperjs
                  %figcaption
                    .project-header LIBRARY
                    .project-desc
                      %svg.icon{height: 80}
                        %use{xlink:href: "#icon-helperjs"}
                      .spacer20
                      %a.project-title{href: "http://algolia.github.io/algoliasearch-helper-js/"} helper.js
                      .spacer10
                      %p Your best companion for implmenting advanced search features with Algolia
                    .project-footer
                      %a{href: "https://github.com/algolia/algoliasearch-helper-js"}
                        %svg.icon
                          %use{xlink:href: "#icon-github"}
                .spacer10
                %figure.effect-apollo.project-wrapper.salesforce
                  %figcaption
                    .project-header PLUGIN
                    .project-desc
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-salesforce"}
                      %a.project-title{href: "https://wordpress.algolia.com/"} Salesforce
                      .spacer10
                    .project-footer
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.grader
                  %figcaption
                    .project-header TOOL
                    .project-desc
                      %a.project-title.center-block
                        %svg.icon{height: 30, class: "small"}
                          %use{xlink:href: "#icon-grader", class:"pink"}
                        %span Grader
                      %a{class: "button pink to-bottom", href:"#"} Evaluate your search

                .spacer10
                %figure.effect-apollo.project-wrapper.big.autocompletejs
                  %figcaption
                    .project-header LIBRARY
                    .project-desc
                      %img.icon{src: "img/illus-autocomplete.svg"}
                      %a.project-title{href: "https://github.com/algolia/autocomplete.js"} autocomplete.js
                      .spacer10
                      %p Add a fast and fully-featured auto-completion menu for your search box displaying results "as you type".
                    .project-footer
                      %a{href: "https://github.com/algolia/autocomplete.js"}
                        %svg.icon
                          %use{xlink:href: "#icon-github"}

        .spacer10
        .row
          .col-sm-6
            %figure.effect-apollo.project-wrapper.big.docsearch
              %figcaption
                .project-header TOOL
                .spacer10
                .project-desc
                  %a{href: "https://community.algolia.com/docsearch/"}
                    %img{src: "img/illus-docsearch.svg"}
                  %a{href: "https://community.algolia.com/docsearch/"}
                  %p.text-center The easiest way to add search to your documentation.
                  .spacer20
                  %a{href: "#", class:"button"} Join the Beta
                .project-footer
          .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.hackernews
                  %figcaption
                    .project-header DEMO
                    .project-desc
                      %svg.icon{height: 30}
                        %use{xlink:href: "#icon-hn"}
                      %a.project-title{href: "http://hn.algolia.com"} Hackernews Search
                      .spacer10
                    .project-footer
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.githubsearch
                  %figcaption
                    .project-header TOOL
                    .project-desc
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-github"}
                      %a.project-title{href: "https://github.algolia.com"} Github Search
                      .spacer10
                    .project-footer

            .spacer10
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.supersearch
                  %figcaption
                    .project-header DEMO
                    .project-desc
                      %svg.icon{height: 50}
                        %use{xlink:href: "#icon-superbowl"}
                      %a.project-title{href: "https://community.algolia.com/supersearch"} SuperSearch
                      .spacer10
                    .project-footer
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper
                  %figcaption
                    .project-header NEED HELP?
                    .project-desc
                      %img.icon{src: "img/illus-stackoverflow.svg", width: 40}
                      %a.project-title{href: "http://stackoverflow.com/questions/tagged/algolia"} ASK StackOverflow
        .spacer10
        .row
          .col-sm-3
              %figure.effect-apollo.project-wrapper.searchbox
                %figcaption
                .project-header TOOL
                  .project-desc
                    .spacer50
                    %a.project-title{href: "http://shipow.github.io/searchbox/"} SearchBox
                    %p.text-center A generator for search input.
              .spacer10
              %figure.effect-apollo.project-wrapper.swag
                %figcaption
                  .project-header SWAG
                  .project-desc
                    %svg.icon{height: 40}
                      %use{xlink:href: "#icon-tshirt"}
                    %a{href: "#", class: "button full"} Get your free t-shirt

          .spacer10.visible-xs
          .col-sm-3
            %figure.effect-apollo.project-wrapper.big.expectjs
              %figcaption
                .project-header TOOL
                .project-desc
                  %svg.icon{height: 120}
                    %use{xlink:href: "#icon-react"}
                  .spacer20
                  %a.project-title{href: "https://github.com/algolia/expect-jsx"} Expect JSX
                  %p toEqulJSX for mjackson/expect
          .spacer10.visible-xs
          .col-sm-6
            %figure.effect-apollo.project-wrapper.newsletter
              %figcaption
                .project-header LEARN
                .project-desc
                  #mc_embed_signup
                    %form#mc-embedded-subscribe-form.validate{action: "//algolia.us3.list-manage.com/subscribe/post?u=f7b8acc6ec97794a08484ca9b&amp;id=285b80e148", method: "post", name: "mc-embedded-subscribe-form", novalidate: ""}
                      #mc_embed_signup_scroll
                        .input-group
                          %input#mce-EMAIL{ name: "EMAIL", placeholder: "Email Address", type: "email", value: ""}
                          %button#mc-embedded-subscribe.button{ type: "submit"}
                            Subscribe
                        #mce-responses.clear
                          #mce-error-response.response{style: "display:none"}
                          #mce-success-response.response{style: "display:none"}
                        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        %div{style: "position: absolute; left: -5000px;"}
                          %input{name: "b_f7b8acc6ec97794a08484ca9b_285b80e148", tabindex: "-1", type: "text", value: ""}/
                .spacer15
                %span.project-title Newsletter
                %p.text-center Learn how to build a delightful  search experience
            .spacer10
            .row
              .col-sm-6
                %figure.effect-apollo.project-wrapper.talks
                  %figcaption
                    .project-header LEARN
                    .project-desc
                      %svg.icon{height: 40}
                        %use{xlink:href: "#icon-talks"}
                      %a.project-title{href: "#"} Talks
                    .spacer10
              .spacer10.visible-xs
              .col-sm-6
                %figure.effect-apollo.project-wrapper.publicdatas
                  %figcaption
                    .project-header LEARN
                    .project-desc
                      %svg.icon{height: 30}
                        %use{xlink:href: "#icon-index"}
                      %a.project-title{href: "#"} Public Datasets
                    .spacer10


    %section.tools
      %h2.text-center.m-b-large API Clients & Tools
      .container
        .row
          .col-sm-3.text-center
            .tools-category.web
              %img{src:"img/illus-web.svg"}
              %h3 Web
            .tools-category.mobile
              %img{src:"img/illus-mobile.svg"}
              %h3 Mobile
            .tools-category.backend
              %img{src:"img/illus-backend.svg"}
              %h3 Back-end
          .col-sm-9
            .row.list-tools
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/javascript.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} algoliasearch.js
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/algolia-helper.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} algolia-helper.js
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/instantsearchjs.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} instantsearch.js
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/autocompletejs.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} autocomplete.js

            .row.list-tools
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/objc.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Objective-c
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/swift.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Swift
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/android.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Android

            .row.list-tools
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/java.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Java
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/rails.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Rails
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/curl.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Curl
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/csharp.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} C#
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/php.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} PHP
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/ruby.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Ruby
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/django.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Django
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/synfony.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Synfony
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/cmd.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Shell
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/node.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Node.js
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/python.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Python
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/go.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Go
              .col-sm-3
                .tool-wrapper
                  %img{src: "img/icons/scala.svg", height:50}
                  .spacer10
                  %a.title{href:"#"} Scala

    %section.events
      .container
        %h2.text-center.m-b-large Events
        .row
          .col-sm-6
            .event-wrapper.big
              %img.img-responsive{src:"img/event-mdtp.png"}
              .event-desc
                %span.date May 4th - San Francisco
                %br
                %span.title Mind the product
                %svg.icon
                  %use{xlink:href: "#icon-calendar"}
          .spacer10.visible-xs
          .col-sm-6
            .row
              .col-sm-6
                .event-wrapper
                  %img.img-responsive{src:"img/event-retail.png"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title Retail Tech Asia
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
              .spacer10.visible-xs
              .col-sm-6
                .event-wrapper
                  %img.img-responsive{src:"img/event-irce.png"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title IRCE
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
            .spacer10
            .row
              .col-sm-6
                .event-wrapper
                  %img.img-responsive{src:"img/event-rise.png"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title RISE
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}
              .spacer10.visible-xs
              .col-sm-6
                .event-wrapper
                  %img.img-responsive{src:"img/event-ecomshow.png"}
                  .event-desc
                    %span.date Date
                    %br
                    %span.title Ecommerce Show
                    %svg.icon
                      %use{xlink:href: "#icon-calendar"}

    %footer.footer
      .container
        .row
          .col-sm-6
            %h3 Want to work with us
          .col-sm-3
            %h3 Connect
          .col-sm-3
            %h3 Keep updated
        .row
          .spacer100
          .col-sm-6.col-sm-offset-3
            %img{src: "img/milliseconds-matter.svg"}
        .text-center


  %script{src: "js/app.js"}
  -# <!-- inject:js --><!-- endinject -->

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden; display:none"}
    <!-- inject:svg --><!-- endinject -->
