@keyframes fadeleft {

  0% {
    transform: translateX(-30vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faderight {

  0% {
    transform: translateX(30vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce {

  0% {
    transform: scale(.6);
  }

  40% {
    transform: scale(.8);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
@media (max-width: $bp-small) {

  .rippleJS {
    display: none !important; 
  }

}