.events {
  background: $primary-color;
  padding: 40px 0 40px;
  color: white;
}
.event-wrapper{
  height: 150px;
  width: 100%;
  background-color: #eee;
  position: relative;
  &.big {
    height: 320px;
  }
}

.event-desc{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(black,.8);
  line-height: 40px;
  padding: 0 10px;
  text-transform: uppercase;
  color: white;
}
