.footer {
  background-color: $primary-color;
  background: linear-gradient(to bottom right, darken($primary-color, 10%), lighten($primary-color, 5%));
  padding: 40px 0;
  color: #fff;

  .row {

    h3 {
      display: inline-block;
      padding-bottom: 0.3em;
      margin-bottom: 0.65em;
      border-bottom: 2px solid rgba(#fff, 0.5);

      @media (max-width: $bp-small) {
        text-align: center;
        width: calc(100% + 10px);
        float: left;
        border-top: 2px solid rgba(#fff, 0.3);
        border-color: rgba(#fff, 0.3);
        padding: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background: rgba(white, 0.05);
        position: relative;
        left: -5px;
      }
    }
  }

  ul.connect li a:before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    position: relative;
    float: left;
    margin-right: 8px;
    top: 7px;
  }

  li {
    min-height: 28px;
    line-height: 28px;

    a {
      color: #fff;
      text-decoration: none;
      position: relative;
      font-weight: 400;

      @each $class, $icon in $social-links {
        &[href*="#{$class}"]:before {
          background: {
            image: url('data:image/svg+xml;utf8,#{$icon}');
            size: contain;
            repeat: no-repeat;
          };
        }
      }

      @media (max-width: $bp-small) {
        padding-left: 8px;

        &:before {
          left: 6px;
        }
      }
    }

    &:before {
      content: '‣ ';
      font-size: 1.5em;
      line-height: 28px;
      position: absolute;
      left: -10px;
      color: $brand-primary;
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  .brand-name {
    width: 100px;
    height: 44px;
    background: url('./img/logo-algolia.svg')no-repeat center center / contain;
    padding: 8px;
    text-indent: -999px;
    color: transparent;
    margin: 0 4px;
  }


  .alg-phrase {
    @media (max-width: $bp-medium){
      max-width: 90%;
      margin: auto 5%;
    }
  }

  .update {
    div {
      margin-bottom: 16px;
    }
  }


  .icon {
    @media (max-width: $bp-small) {
      max-width: 80%;
    }
  }
}

$navigation-height: 50px;

.ac-footer-actions {
  width: 100%;
  background: #0A1724;
  display: block;
  text-align: center;
  min-height: $navigation-height;

  p {
    display: inline;
    line-height: $navigation-height;
    padding: 0;
    margin:0;
    font-size: 1.1em;
    color: rgba(white,.6);
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    display: inline-block;
    margin-left: 0;

    &:nth-child(2) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }
}

.ac-footer-btn {
  background: transparent;
  border: 1px solid mix(#0A1724, #fff, 50%);
  color: rgba(white,.6);
  height: 40px;
  margin: 32px auto;
  line-height: 40px;
  padding: 0 1em;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: background 0.1s ease;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover,
  &:active {
    text-decoration: none;
    border-color: white;
    color: white
  }
  &-ghost-pink{
    color: #FB366E;
    border-color: #FB366E;
  }
}
