.hero {
  height: 240px;
  color: white;
  position: relative;
  background: url(img/logo-algolia-bg.svg) 30% 100% $primary-color no-repeat;
  h1 {
    top: 20px;
    font-size: 6em;
    font-weight: 100;
    position: relative;

    @media (max-width: $bp-medium) {
      font-size: 4em;
    }
  }
  .navbar-brand {
    position: absolute;
    top: -24px;
    margin-left: 60px;
  }
}
.navbar-brand {
  position: relative;
  top: -4px;
}

#nav.navbar-inverse {
  background: transparent;
  border: none;
}

.share {
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 30px;

  li {
    margin-left: 20px;
    display: inline-block;
  }
  .icon {
    max-width: 30px;
    height: 30px;
  }
}
