.hero {
  height: 200px;
  color: white;
  position: relative;
  background: url(img/header-background.png), linear-gradient(#1D3556, #28577B);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-bottom: 20px;

  @media (max-width: $bp-wide) {
    background: url(img/header-background.png), #1D3556;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  h1 {
    top: -10px;
    left: -90px;
    font-size: 5em;
    font-weight: 100;
    position: relative;
        width: 50%;

    a, a:hover {
      text-decoration: none;
      color: white;
    }

    @media (max-width: $bp-wide) {
      font-size: 4em;
      left: -90px;
    }

    @media (max-width: $bp-small) {
      font-size: 3em;
      left: 20%;
      top: 20px;
      text-align: left;

      a {
        padding-left: 40px;
      }
    }
  }

  .navbar-brand {
    position: absolute;
    top: -44px;
    margin-left: 100px;
    
    @media (max-width: $bp-small) {
      left: 0%;
    }

    @media (max-width: $bp-wide) {
      margin-left: 40px;
    }

    img {
      width: 120px;
      position: relative;
      max-width: 120px;

      .logo-community{
        max-width: 120px;
      }

      &:not(.logo-community) {
        left: -20%;
        @media (max-width: $bp-medium) {
          left: 5%;
          max-width: 100px;
        }
        @media (max-width: $bp-small) {
          left: 0;
          top: 10px;
          max-width: 80px;
        }
      }
      &.logo-community {
        position: absolute;
        left: -250px;
        top: 20px;
        width: 120px;
        max-width: 120px;
        display: block;
        

        @media (max-width: $bp-wide) {
          max-width: 100px;
          width: 120px;
          left: -140px;
          top: 10px;
        }
        @media (max-width: $bp-small) {
          max-width: 80px;
          width: 80%;
          left: -100px;
          top: 10px;
        }
      }
    }
  }
}
.navbar-brand {
  position: relative;
  top: -6px;
}

#nav.navbar-inverse {
  background: transparent;
  border: none;
}

.share {
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0px;

  li {
    margin-left: 6px;
    display: inline-block;
  }
  .icon {
    max-width: 20px;
    height: 20px;
    line-height: 32px;
    position: relative;
    top: 2px;
  }

  a[href*="producthunt"] .icon{
    width: 14px !important;
  }

  a {
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    line-height: 42px;
    
    border-radius: 100%;
    transition: background 0.2s ease;

    &[href*="facebook"]:hover {
      background: $blue-facebook
    }
    &[href*="twitter"]:hover {
      background: $blue-twitter
    }
    &[href*="github"]:hover {
      background: $purple-github
    }
    &[href*="producthunt"]:hover {
      background: $orange-producthunt;
    }
    &[href*="linkedin"]:hover {
      background: $blue-linkedin
    }
  }


  @media (max-width: $bp-small) {
    top: 6px;
    right: 6px;

    li {
      margin-left: 2px;
    }
  }

}
