.hero {
  height: 240px;
  color: white;
  position: relative;
  background: url(img/header-bg.png), linear-gradient(#1D3556, #28577B);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-bottom: 20px;

  @media (max-width: $bp-wide) {
    background: url(img/header-bg.png), #1D3556;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  h1 {
    top: -10px;
    left: -90px;
    font-size: 5em;
    font-weight: 100;
    position: relative;
    a, a:hover {
      text-decoration: none;
      color: white;
    }

    @media (max-width: $bp-wide) {
      font-size: 4em;
      left: -90px;
    }

    @media (max-width: $bp-small) {
      font-size: 4em;
      left: -30px;
    }
  }

  .navbar-brand {
    position: absolute;
    top: -40px;
    margin-left: 60px;

    @media (max-width: $bp-wide) {
      margin-left: 40px;
    }

    img {
      width: 120px;
    }
  }
}
.navbar-brand {
  position: relative;
  top: -4px;
}

#nav.navbar-inverse {
  background: transparent;
  border: none;
}

.share {
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0px;

  li {
    margin-left: 6px;
    display: inline-block;
  }
  .icon {
    max-width: 20px;
    height: 20px;
    line-height: 32px;
    position: relative;
    top: 2px;
  }

 a[href*="producthunt"] .icon{
    width: 14px !important;
  }

  a {
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    line-height: 42px;
    
    border-radius: 100%;
    transition: background 0.2s ease;

    &[href*="facebook"]:hover {
      background: $blue-facebook
    }
    &[href*="twitter"]:hover {
      background: $blue-twitter
    }
    &[href*="github"]:hover {
      background: $purple-github
    }
    &[href*="producthunt"]:hover {
      background: $orange-producthunt;
    }
    &[href*="linkedin"]:hover {
      background: $blue-linkedin
    }
  }
}
