.icon {
  display: inline-block;

  // Specific to project descriptions
  .project-footer & {
    max-width: 24px;
    max-height: 24px;
  }

  use {
    fill: #fff;

    @each $class, $value in $icon-colors {
      &.#{$class} {
        fill: $value;
      }
    }
  }
  &.big {
    max-width: 580px;
    width: 100%;
  }
  &.center {
    margin: auto;
    display: block;
    
  }
  .blog & {
    width: 100% !important;
    max-width: 240px !important;
    margin: 0;
  }
}
