.icon {
  display: inline-block;
  max-width: 36px;	
  max-height: 36px;
 
	
  // Specific to project descriptions
  .project-footer &{	
    right: 0;
    padding-right: 16px;
  	
    use {
      fill: #fff;
  	}
  }
}

