.img-responsive {
  max-width: inherit !important;
}

.project-wrapper {

  @media (max-width: $bp-small) {
    [alt="stackoverflow"] {
      max-width: 40px !important;
    }
  }
}

img{
  &.tiled {
    max-width: 80%;
  }
}
