.img-responsive {
  max-width: inherit !important;
}

.project-wrapper [alt="instantsearch"] {
  position: relative;
  width: 100%;
  @media (max-width: $bp-wide) {
    left: -40px;
  }
  @media (max-width: $bp-small) {
    left: 0px;
    width: 60px;
  }
}


