.mover-wrap {
  opacity: 1;
  pointer-events: auto;
}

.container {
  max-width: 1150px;
}

@include big-mq {
  .container {
    width: 1150px;
  }
}


@include medium-mq {
  .container {
    width: calc(100% - 16px);
    max-width: 1150px;
  }
}

@include small-mq {
  .container {
    width: calc(100% - 16px);
  }
}



// 

.col-xs-2.col-xs-offset-1.col-sm-offset-2 {
  @media (max-width: $bp-small) {
    width: 100%;
    left: 0;
    margin: 0;

    img {
      max-width: 80%;
      width: 100px;
    }
  }
}
.col-absolute-center {
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 630px;
  position: relative;
}

.padding-10 {
  padding: 10px;
}
