//---------------------------
//  Dropdown starts here
//---------------------------
$nav-height: 60px;
@include component('navigation', 'dropdown-holder') {
  position: absolute;
  top: $nav-height - 10px;
  left: 25px;
  max-width: 490px;
  width: 100%;
  height: 800px;
  -webkit-perspective: 500px;
  perspective: 500px;
  pointer-events: none;
}

@include component('dropdownroot') {
  left: 0;
  right: 0;
  position: absolute;
  top: 5px;

  transform: rotateX(-15deg);
  opacity:0;
  transform-origin: 50% -50px;
  transition-property: transform, opacity;
  transition-duration: .25s;
  will-change:transform, opacity;
  pointer-events: auto;
  width: 100%;

  @include component('dropdownroot', 'dropdownbg'){
    left: 0;
    top: 10px;
    box-shadow:0 50px 100px rgba(50,50,93,.1),
    0 15px 35px rgba(50,50,93,.15),
    0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    transform-origin: 0 0;
    background-color: #FFF;
    will-change:transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .25s;
    position: absolute;
    width: 490px;
    height: 360px;
    z-index: 10;
  }

  @include component('dropdownroot', 'dropdownarrow'){
    left: 0;
    top: 6px;
    background-color: #FFF;
    box-shadow:-3px -3px 5px rgba(82,95,127,.04);
    will-change:transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .25s;
    transform:rotate(45deg);
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 20;
    border-radius:2px;
  }

  @include component('dropdownroot','dropdowncontainer'){
    position: relative;
    z-index: 30;
    overflow:hidden;
    will-change:transform, width,height;
    transition-property: transform, width,height;
    transition-duration: .25s;
  }

  @include component('dropdownroot','section'){
    position: absolute;
    left: 0;
    top: 0;
    opacity:0;
    will-change:transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .25s;

    &.active{
      z-index: 10;
      opacity:1;
      transform:translateX(0);
    }

    &.right{
      transform: translateX(150px);
    }

    &.left{
      transform:translateX(-150px);
    }

    @include component('dropdownroot', 'content'){
      position: absolute;
      top: 10px;
      left: 0;
      background: #fff;
      border-radius: 4px;
      overflow: hidden;

    }

    @include component('dropdownroot','integrations'){
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      width: 450px;
      padding: em(10) em(20);
      margin:0;
      background: #f6f9fc;

      [data-inject-community] {
        padding: 0 1em;
      }

      .dropdown-item {
        flex: 50%;
        margin: 0.5em auto;
        border-radius: 3px;

        &:hover {
          background: rgba(black, 0.1);

          .item-icon {
            transform: scale(1);

            img {
              transform: scale(1)
            }
          }
        }

        a {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          color: #1d2f40;
          width: 100%;
        }

        h4 {
          flex: 60%;
          text-align: center;
          text-transform: capitalize;
          text-align: left;
          margin: 0;
          font-size:15px;
        }

        .item-icon {
          width: 42px;
          height: 42px;
          margin: 8px;
          border-radius: 4px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          transition: transform 0.2s ease;
          transform: scale(0.9);

          img {
            max-width: 60%;
            transition: transform 0.2s ease 0.15s;
          }
        }

        svg,
        img {
          margin: 0 16px;
          flex: 20%;
          max-width: 32px;
          width: 100%;
          height: 100%;
          text-align: center;
          vertical-align: middle;
          margin: auto;
        }
      }
    }


    @include component('dropdownroot','footer'){
      height: 46px;
      line-height: 46px;
      text-align: center;
      font-size: 12px;
      opacity: 1;
      transition: filter 0.2s ease, opacity 0.2s ease;
      will-change: filter, opacity;

      a {
        display: block;
        width: 100%;
        height: 100%;
        float: left;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

      img {
        vertical-align: middle;
      }


    }


    @include component('dropdownroot','links'){
      list-style-type: none;
      padding: em(10) em(20);
      display: flex;
      flex-wrap: wrap;
      width: 290px;
      margin: 0;

      li{
        box-sizing: border-box;
        display: flex;
        align-items:center;
        flex:1 0 50%;
        padding: em(10) em(10);

        p{
          margin:0;
        }

        svg{
          margin-right:5px;
          height:20px;
          width:20px;
        }
      }
    }
  }
  &.notransition {
    @include component('dropdownroot', 'dropdowncontainer'){
      transition: none;
    }

    @include component('dropdownroot', 'dropdownbg'){
      transition: none;
    }

    @include component('dropdownroot', 'section'){
      transition: none;
    }

    @include component('dropdownroot', 'dropdownarrow'){
      transition: none;
    }
  }

  &.activeDropdown {
    opacity:1;
    transform:none;
    @include component('dropdownroot', 'dropdownbg'){
      opacity:1;
      transform: none;
      transform-origin: 0 0;
    }
  }
}