
.peek-a-boo {
	position: absolute;
	transform: translateY(250%);	
	top: 50%;
	transition: transform 0.3s ease;


	p {
		line-height: 1;
		font-size: 13px;
		text-align: center;
		text-transform: lowercase;
		padding: 0 12px;
	}
	.project-wrapper:hover &{
		transform: translateY(55%);
	}
}