.projects{
  padding: 10px 0 40px;
}

figure {
  @media (max-width: $bp-small) {
    -webkit-user-select: none;
    user-select: none;
  }
}

.project-wrapper{
  height: 150px;
  width: 100%;
  background-color: $primary-color;
  position: relative;
  color: #fff;
  transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), box-shadow .2s ease;

  &.ee {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    overflow: hidden;
    text-align: center;
    margin: 0 5px;
    width: calc(100% - 10px);
    height: 100%;
    &:not(.big) {
      max-height: 150px
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;

      &.bottom-center {
        object-position: center center;
      }
      &.contain {
        object-fit: contain
      }
    }

    .quote {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 10px;
      display: block;
      font-weight: bold;
      font-size: 1.1em;
      color: white;
      font-style: italic;
    }

    @media (max-width: $bp-small) {
      display: none;
      
    } 
  }

  &.is-pointer-down {
    transition: transform 0.05s linear, box-shadow .2s ease;
    transition-delay: .4s;
  }

  &.drag{
    box-shadow: 0 4px 20px 2px rgba($primary-color,.5);
    transition-delay: inherit;
  }

  &.animate, &.is-dragging {
    z-index: 999;
  }

  &.big{
    height: 310px;
  }

  // Mono colors if needed
  &.searchbox{
    background-image: url('img/illus-searchbox.svg'), linear-gradient(#34A3C7,#1E3A5E);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%
  }

  &.grader {
    
    .project-header {
      
      span {
        display: inline-block;
      }
    }
  }

  &.swag {
    .button {
      margin-top: -6px;

      @media (max-width: $bp-small) {
        margin-top: 0;
      }
    }
  }

  @media (min-width: $bp-small) {
    .project-desc {
      p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: $bp-small) {
     height: auto;
     min-height: 150px;
     .spacer60 {
      height: 0
    }
    &.newsletter {
      min-height: 200px !important;
      .project-title {
        top: 10px;
      }
      .project-desc {
        .desc {
          margin-top: 8px;
        }
      }
    }
  }

  &.peek-trigger:not(.coming-soon):hover {
    .project-header,
    .desc {
      transform: scale(0);
    }
    .project-title {
      transform: translateY(-50px)
    }
    svg.icon:not(.github),
    img.icon[alt="stackoverflow"] {
      transform: translateY(-45px) scale(0.8) !important;
    }
  }


  // If comming soon
  &.coming-soon {
    cursor: not-allowed;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(black, 0.5);
      width: 100%;
      height: 70%;
      z-index: 50;
      transform: scale3d(1.9,1.4,1) rotate(-45deg);
      transform-origin: 50% 30%;
    }
    &:after {
      content: '';
      background: rgba(black, 0.6) url(img/illus-coming-soon.svg)no-repeat center center / 50%;
      text-transform: uppercase;
      z-index: 51;
      position: absolute;
      
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 150px;
      font-weight: bold;
      opacity: 0.7;
      
      top: 0;
      left: 0;
    }
  }
}

// Projects structure
// header
.project-header {
  text-align: center;
  font-weight: bold;
  padding: 8px 0 16px;
  color: rgba(white,.6);
  transition: transform 0.3s ease;
}

// desc
.project-desc {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  padding-top: 44px;

  &:hover, &:focus {
    text-decoration: none;

    .button {
      background: rgba(white,.2);
    }
  }
  .desc {
    clear: both;
    font-weight: bold;
    width: 100%;
    padding: 0 20px;
    font-size: 13px;
    max-width: 100%;
    color: rgba(white,.7);

    &.no-padding{
      padding: 0;
    }

    @media (max-width: $bp-small) {
      padding: 6px 16px;
      margin-bottom: 1em;
    }
  }

  .icon {
    max-width:100px;
    display: inline-block;
    fill: #fff;
    transition: transform 0.3s ease !important;
    will-change: transform;
  }

  a {
    color: #fff;

    &:hover {
      color: inherit;
    }
  }

  svg, img {
    margin: 10px 0;

  }

  .project-wrapper:not(.big) &{
    svg {
      height: 46px;
      width: 46px;
      clear: both;
      transition: width 0.3s ease;
    }
  }

  @media (max-width: $bp-small) {
    position: relative;
    width: 100%;
    padding-top: 16px;
    
    svg.icon,
    img.icon {
      margin: auto;
      float: none;
      width: 100%;
      display: block;
      margin-bottom: 1em;
      
      &[src*="docsearch.svg"] {
        width: 80%;
        max-width: 320px !important;
      }
    }

    .button {
      display: block;
      margin: auto;
      max-width: 90%;
      clear: both;
      
    }
    .col-xs-7.text-left {
      float: none !important;
      margin: auto;
      text-align: center;
      
    }
  }
}

.instantsearch .logo {
  margin-bottom: 8px;
}

.docsearch {
  img{
    max-width: 400px !important;
  }
 
 @media (max-width: $bp-small) {
    .spacer20 {
      display: none;
    }
 }
}

.swag svg {
  margin: 4px 0;
}

// title
.project-title {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 99;
  color: white;
  transition: transform 0.3s ease;

  &.center-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 40px;

    + .button {
      margin-top: 2px;
    }

    svg {
      width: 30%;
      margin: 0;

      + span {
        width: 20%;
        padding: 0;
        margin: 0;
        line-height: 40px;
        position: relative;
        top: 4px;
        margin-left: 15px;
        text-align: left;
      }
    }
  }
}

// footer
.project-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  padding: 0 10px;
  text-transform: uppercase;
  color: white;
  width: auto;
  opacity: .6;
  z-index: 92;

  a {
    position:  absolute;
    float: right;
    width: auto;
    height: auto;
    text-align: center;
    padding: 8px;
    line-height: 1;
    z-index: 99;
    top: -154px;
    right: 0px;

    .project-wrapper.big &{
      top: -314px;
    }

    svg {
      display: inline-block;
      width: 20px;
      margin: auto;
      float: none;
    }

    &[href*="facebook"] {
      svg {
        height: 18px;
        top: 2px;
        position: relative;
        
      }
    }
  }
}

#mc_embed_signup {
  padding: 0 40px;

  .input-group{
    margin: 0 auto;
  }
  input {
    border: solid 2px white;
    border-radius: 0;
    height: 34px;
    padding-left: 12px;
    background: rgba($primary-color, .1);
    box-shadow: inset 3px 3px 0 rgba($primary-color, .2);

    &::placeholder {
      color: rgba(white,.7);
    }

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  button {
    color: white;
    background: transparent;
    height: 34px;
    position: relative;
    left: -2px;

    &:focus, &:hover {
      outline: 0;
      background-color: rgba(white,.2);
    }
  }

  @media (max-width: $bp-small) {
    float: left;
    width: 100%;
    
    button, input{
      width: 100%;
      max-width: 100%;
      left: 0;
    }
    input {
      border-bottom: 0;
    }

    .input-group {
      margin: 0;
      width: 100%;
    }
  }
}

// Color the project blocs
@each $class, $value, $color in $gradients{
  .#{$class} {
    background: #{$value};
  }
}
