.projects{
  padding: 20px 0 40px;
}

.project-wrapper{
  height: 150px;
  width: 100%;
  background-color: $primary-color;
  position: relative;
  color: #fff;
  transition: all 0.3s ease;


  &.big{
    height: 310px;
  }

  // Mono colors if needed

  &.searchbox{
    background-image: url('img/illus-searchbox.svg'), linear-gradient(#34A3C7,#1E3A5E);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%
  }

  &.instantsearch .col-xs-7.text-left{
    padding-left: 20px;
  }
}

// Projects structure
// header
.project-header {
  text-align: center;
  font-weight: bold;
  padding: 8px 0 16px;
  color: rgba(white,.6);
}

// desc
.project-desc {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


  p {
    font-weight: bold;
    width: 100%;
    padding: 0 20px;

    &.no-padding{
      padding: 0;
    }
  }

  .icon {
    display: inline-block;
    fill: #fff;
  }

  a {
    color: #fff;

    &:hover {
      color: inherit;
    }
  }
  
  svg {
    margin: 10px 0;
    
  }

  .project-wrapper:not(.big) &{
    svg {
      height: 46px;
      width: 46px;
      clear: both;
    }
  }

}

// title
.project-title {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  display: block;  
  padding: 0;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 99;

  &:not(.center-block) {
    margin: 10px 0;
  }
  

  &.center-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 40px;

    + .button {
      margin-top: 16px;
    }

    svg {
      width: 30%;
      margin: 0;

      + span {
        width: 30%;
        padding: 0;
        margin: 0;
        line-height: 40px;
        position: relative;
        top: 4px;
        margin-left: 15px;
      }
    }
  }
}

// footer
.project-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  padding: 0 10px;
  text-transform: uppercase;
  color: white;
  width: auto;
  max-height: 40px;

  a {
    position: relative;
    float: right;
    top: -8px;
    right: -8px;
    width: calc(32px + 16px);
    height: calc(32px + 16px);
    text-align: center;
    padding: 8px;
    line-height: calc(32px + 16px);

    svg {
      display: inline-block;
      width: 32px;
      margin: auto;
      float: none;
    }
  }
}

// Color the project blocs
@each $class, $value, $color in $gradients{
  .#{$class} {
    background: #{$value};
  }
}
