.projects{
  padding: 20px 0 40px;

  &:hover .project-wrapper:not(:hover) {
    opacity: 0.9;
  }
}

.project-wrapper{
  height: 150px;
  width: 100%;
  background-color: $primary-color;
  position: relative;
  color: #fff;
  transition: all 0.3s ease;
  

  &.big{
    height: 310px;
  }
  &.hx2 {
    height: 310px;
  }

  // Mono colors if needed
  &.newsletter {
    background: #167195;
  }
}

// Projects structure
.project-header {
  text-align: center;
  font-weight: bold;
  padding: 8px 0 16px;
  color: rgba(white,.6)
}

.project-desc {
  text-align: center;

  .icon {
    display: inline-block;
    fill: #fff;
  }
  
  a {
    color: #fff;
  }
}

.project-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  padding: 0 10px;
  text-transform: uppercase;
  color: white;
  width: 100%;
  max-height: 40px;

  a {
    position: relative;
    float: right;
    right: -16px;
    svg {
      right: 0;
    }
  }
}

// Color the project blocs
@each $class, $value, $color in $gradients{
  .#{$class} {
    background: #{$value};
  }
}
