$hitType: #5BA2D2;

@keyframes handAnimation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0);
  }
}

$toolColor: #8E32ED;
$libraryColor: #01ADFF;
$pluginColor: #3369E7;
$apiClientColor: #182359;
$learnColor: #FF3075;
$representColor: #2DDE98;
$demoColor: #FF6C5F;

.alg-header {
  width: 100%;
  padding-top: em(16,16);
  position: absolute;
  top:0;
  left:50%;
  transform: translate(-50%,0);
  z-index: 10;
  padding: 16px 20px;

  .alg-header__container {
    max-width: 1160px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .alg-headerhome {
    display: flex;
  }

  .alg-headermenu {
    position: absolute;
    left:50%;
    transform: translate(-50%,0);

    .alg-headermenu__links {
      display: flex;
      padding-left: 0;
      list-style-type: none;
      color: white;

      > li {
        padding-right: 16px;
        font-size: 16px;
        font-weight: 300;

        &:not(:last-child) {
          margin-right: em(35,16);
        }
      }
    }
  }

  .alg-headerhome__search {
    margin-right: em(35,14);

    input {
      border:none;
      appearance: none;
      background-color: transparent;
    }
  }
 
  .alg-headerhome__link {

    a {
      font-weight: 300;
      color: white;
      text-decoration: none;
      padding-right: 12px;

      svg {
        transform: rotate(-90deg) translateY(12px);
      }
    }
  }
}

.alg-community {

  .alg-communityheader {
    background: linear-gradient(324.77deg, #3369E6 0%, #4639A1 80.62%, #4B2E91 100%);
    position: relative;

    @include diagonal(-6deg, #FFF,50%, false,before){
      left: 0;
      bottom:0;
      transform: skewY(-4deg) translate(0,50%);
    }

    .alg-communityheader__container {
      max-width: 1000px;
      margin: 0 auto;
      color: #fff;
      font-weight: 300;
      padding: 0 20px;  
    }

    h1 {
      font-weight: 400;
      padding: em(117,36) em(20,36) 0 em(20,36);

      span {
        display: inline-block;
        transform-origin: left 20% bottom 10%;
      }

      &:hover span {
        animation: handAnimation 500ms 200ms ease forwards;
      }
    }  
  }

  .alg-communityareas {
    box-shadow: 0 1px 3px 0 #C0C8D9;
    color: $bunting;
    position: relative;

    @media (min-width: $screen-sm){
      display: flex;
      background-color: #FFF;
    }
    &:after {
      position: absolute;
      content:"";
      top: 50%;
      left:50%;
      height: calc(100% - 40px);
      transform: translate(-50%,-50%);
      background-color: #DEDEF7;
      width: 1px;
    }

    .alg-communityareas__area {
      border-radius: $border-radius-base;
      background-color: #FFF;
      @media (max-width: $screen-sm){
        margin-bottom: 20px;
      }
      @media (min-width: $screen-sm){
        width: 50%;
      }
    }

    button {

      svg {
        transform: translate(6px, 0) rotate(-90deg);
      }
    }

    h3 {
      font-weight: 400;
    }

    p {
      min-height: 6em;
      max-width: 70%;
      line-height: em(27,15);
      font-weight: 400;
    }
  }

  .alg-communityprojects {
    position: relative;
    max-width: 1200px;
    padding: 0 20px;

    .alg-communityprojects__search {
      display: flex;
      align-items: center;

      h1 {
        color: $bunting;
        font-weight: 600;
      }

      #alg-community__search {
        flex: 1;
      }

      .ais-search-box {
        width: 100%;
        max-width: 320px;
        border: 1px solid #D4D8E3;
        margin-left: em(38,14);
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 1px 1px 0 rgba(85,96,110,0.2);

        &:after {
          color: $pluginColor;
          content: "";
          position: absolute;
          width:44px;
          left:0;
          height: 100%;
          border-radius: 25px 0 0 25px;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Community' fill='currentColor' fill-rule='evenodd'%3E%3Cg id='Community-Home' fill='%23182359'%3E%3Cg id='Group-4'%3E%3Cg id='Group-18'%3E%3Cg id='Group-19'%3E%3Cpath d='M13.3806 14.6896c-1.409 1.1858-3.2322 1.901-5.2236 1.901-4.4654 0-8.0853-3.596-8.0853-8.0315 0-4.4356 3.62-8.0314 8.0853-8.0314 4.4654 0 8.0854 3.5958 8.0854 8.0315 0 1.9782-.72 3.7893-1.9137 5.189l1.0594 1.0523.1777-.1764c.1643-.1633.4312-.1627.5955.0005l3.7154 3.6906c.1646.1636.1642.4292.0006.5916l-1.3087 1.3c-.1643.1633-.4312.1627-.5955-.0005l-3.7154-3.6906c-.1646-.1635-.1642-.429-.0006-.5915l.183-.182-1.0594-1.0524zm-5.2236-.301c3.2412 0 5.8688-2.61 5.8688-5.8295 0-3.2195-2.6276-5.8295-5.8688-5.8295s-5.8687 2.61-5.8687 5.8296c0 3.2197 2.6275 5.8297 5.8687 5.8297z' id='Oval-183-Copy-6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      input {
        border:none;
        width: 100%;
        border-radius: 25px;
        background-color: transparent;
        color: #9D9DBC;
        font-size: 16px;
        padding: em(8,16) em(20,16) em(8,16) em(56,16);

        &:focus {
          outline: none;
        }
      }
    }

    .alg-communitycontainer {
      max-width: 1160px;
      display: flex;
    }

    .ais-hits {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .alg-communityprojects__facets {
    width: 20%;

    @media (max-width: $screen-sm) {
      display: none;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }
    .ais-menu--item {
      color: #182359;
      position: relative;
      line-height: em(40,16);
      cursor: pointer;

      &--header {

        .alg-facet__name {
          padding-left: 0;
          font-weight: bold;
        }
      }

      a {
        color: inherit;
      }

      &:hover .alg-facet__tile {
        transform: translate(3px, -50%) scaleY(.7);
      }
    }

    .alg-facet-tool .alg-facet__tile { background-color: $toolColor }
    .alg-facet-represent .alg-facet__tile { background-color: $representColor }
    .alg-facet-api-client .alg-facet__tile { background-color: $apiClientColor }
    .alg-facet-learn .alg-facet__tile { background-color: $learnColor }
    .alg-facet-demo .alg-facet__tile { background-color: $demoColor }
    .alg-facet-library .alg-facet__tile { background-color: $libraryColor }
    .alg-facet-plugin .alg-facet__tile { background-color: $pluginColor }

    .alg-facet__tile {
      position: absolute;
      left:4px;
      top:50%;
      height:20px;
      width: 3px;
      transform: translate(0,-50%);
      transition: 170ms ease;
    }

    .alg-facet__name {
      display: inline-block;
      background-color: #FFF;
      padding-left: 14px;
      padding-right: 8px;
      font-size: 14px;

      &:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        right: 0;
        bottom: 14px;
        border-bottom: 1px dashed #E2E2E2;
        z-index: -1;
      }
    }

    .alg-facet__number {
      float: right;
      background-color: #FFF;
      color: #9D9DBD;
      padding-left: 3px;
    }
  }

  .alg-communityprojects__hits {
    width: 80%;

    @media (min-width: $screen-sm){
      padding-left: 40px;
    }

    @media (max-width: $screen-sm){
      width: 100%;
    }

    .alg-communityprojects__hitswrapper {
      margin-bottom: 70px;

      &:hover .alg-communityprojects__hitstype:after {
        transform: scaleX(1.4);
      }
    }

    header {
      position: relative;
    }
    
    .alg-header-tool {
      h3:after { background-color: $toolColor }
      .alg-viewmore { color: $toolColor }
    }

    .alg-header-plugin {
      h3:after { background-color: $pluginColor }
      .alg-viewmore { color: $pluginColor }
    }

    .alg-header-represent {
      h3:after { background-color: $representColor }
      .alg-viewmore { color: $representColor }
    }

    .alg-header-api-client {
      h3:after { background-color: $apiClientColor }
      .alg-viewmore { color: $apiClientColor }
    }

    .alg-header-learn {
      h3:after { background-color: $learnColor }
      .alg-viewmore { color: $learnColor }
    }

    .alg-header-demo {
      h3:after { background-color: $demoColor }
      .alg-viewmore { color: $demoColor }
    }

    .alg-header-library {
      h3:after { background-color: $libraryColor }
      .alg-viewmore { color: $libraryColor }
    }

    .alg-viewmore {
      padding-right: 18px;
      margin-left: 20px;
      text-decoration: none;
      vertical-align: baseline;
      font-weight: 400;

      svg {  
        transform: translate(6px, 0) rotate(-90deg)
      }
    }

    .alg-communityprojects__hitstype {
      color: #1F3B5D;
      font-weight: 300;
      position: relative;
      display: inline-block;
      margin-top: 0;

      &:after {
        content:"";
        position: absolute;
        width: 27px;
        height: 3px;
        left:0;
        bottom:-10px;
        transition: 380ms ease;
        transform-origin: left center;
      }
    }

    .alg-communityprojects__hitsdesc {
      margin-top: 2px;
      color: #9D9DBC;
      font-weight: 300;
    }

    .ais-hits--item:after {
      content: "";
      display: block;
      clear: both;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .ais-hits--item {
    width: 24%;
    margin-right: 1%;

    @media (max-width: $screen-md){
      width: 46%;
      margin-right: 2%;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      .alg-communityhit {
        margin-top: 30px;
        @media (max-width: $screen-md){
          margin-top: 50px;
        }
      }
    }
    &:last-child{
      align-self: flex-end;
    }
  }

  .alg-communityhit {
    box-shadow: 0 1px 3px 0 #C0C8D9;
    border-radius: 4px;
    padding-top: em(54,14);
    position: relative;
    transition: .25s ease;
    min-height: 220px;
    &:hover {
      transform: translate(0,-8px);
    }

    .alg-communityhit__stats {
      display: flex;
      text-align: center;
      border-top: 1px solid #F5F5FD;
      min-height: 34px;
      position: absolute;
      bottom: 0;
      width: 100%;

      svg {
        vertical-align: middle;
      }

      a {
        color: #9D9DBD;
        cursor: pointer;
        display: block;

        &:hover {
          color: $bunting;
        }
      }

      .alg-communitystat {
        flex: 0 0 31%;
        padding: em(6,14) 0;

        &:nth-child(2){
          flex: 0 0 38%;
        }

        &:not(:last-child) {
          border-right: 1px solid #F5F5FD;
        }
      }
    }

    .alg-communityhit__icon {
      text-align: center;
      display: inline-block;
      position: absolute;
      top:0;
      left: 50%;
      transform: translate(-50%,-34px);

      .alg-communityhit__iconcontainer {
        position: absolute;
        transform: translate(-50%, 0px);
        left:50%;
        top: 7px;
        width: 56px;
        height: 56px;
        margin-left: -7px;
        background-color: blue;
        border-radius: 100%;
        overflow: hidden;

        &:before {
          content:"";
          display: block;
          width:calc(100% - 8px);
          height:calc(100% - 8px);
          position: absolute;
          transform: translate(4px, 4px);
          background-color: rgba(255,255,255,.3);
          border-radius: 150%;
        }

        &:after {
          content:"";
          display: block;
          width:150%;
          height:150%;
          position: absolute;
          background-color: inherit;
          transform: translate(2px,8px);
          border-radius: 150%;
        }

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          fill: transparent;
          width: 50px;
          height: auto;
          z-index: 10;
        }
      }

      .alg-icon-tool{
        background-color: $toolColor;
      }

      .alg-icon-library {
        background-color: $libraryColor;
      }

      .alg-icon-plugin {
        background-color: $pluginColor;
      }

      .alg-icon-api-client {
        background-color: $apiClientColor;
      }

      .alg-icon-learn {
        background-color: $learnColor;
      }

      .alg-icon-represent {
        background-color: $representColor;
      }

      .alg-icon-demo {
        background-color: $demoColor;
      }

      #icon-zendesk img {
        margin-left: -1px;
      }

      #icon-autocomplete img {
        width: 35px;
      }

      #icon-instantsearch img {
        width: 30px;
      }

      .icon-glass {
        position: absolute;
        left:50%;
        top: 0;
        width: 84px;
        height: 87px;
        transform: translate(-50%, 0px);
        z-index: 10;
      }
    }

    .alg-communityhit__type {
      color: $hitType;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .alg-communityhit__name {
      color: $bunting;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .alg-communityhit__description {
      color: #69719B;
      line-height: em(20,13);
      min-height: 3em;
    }
  }
}