$_debug: false;

$cabaret: #E7486B;
$rouge: #9C4274;
$sea-green: #13C4A5;
$blue-green: #10A4B8;
$violet: #8A63B3;
$chambray: #3B5295;
$sunset-orange: #F6624E;
$saffron-mango: #FDBD57;
$light-pink: #ff66b7;
$gray: #e9eaed;

$primary-color: #1F3B5D;
$secondary-color: #F3F4F7;
$tertiary-color: #8191B1;

$brand-primary: #46AEDA;
$brand-secondary: #FA3870;
$brand-success: #32B28C;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #ff5f5f;

$zigzag-icon: "<svg xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' version=\'1.1\' x=\'0px\' y=\'0px\' viewBox=\'0 0 100 125\' enable-background=\'new 0 0 100 100\' xml:space=\'preserve\'><g><polygon fill='#{$light-pink}' points=\'79.293,56.49 69.632,46.829 59.97,56.49 50.309,46.829 40.647,56.49 30.985,46.829 21.324,56.49 11.66,46.827    3.412,55.046 0.589,52.213 11.665,41.174 21.324,50.833 30.985,41.172 40.647,50.833 50.309,41.172 59.97,50.833 69.632,41.172    79.293,50.833 88.944,41.183 100.02,52.095 97.213,54.944 88.966,46.818  \'/></g></svg>";

// breakpoints
$bp-wide: 1200px;
$bp-medium: 960px;
$bp-small: 780px;

// Gradients
// @doc
//      class - gradient - first-color
$gradients: (
  (instantsearch, 'linear-gradient(to top right, #1d3657, #3e6790)',#1d3657 ),
  (docsearch,' linear-gradient(to bottom right, #254266, #167095)', #254266),
  (helperjs, 'linear-gradient(202deg, #3cafd4 0, #167195 100%)', #34a3c7),
  (magento, 'linear-gradient(to top right, #ff66b7, #dc6637)', #ff66b7),
  (salesforce, 'linear-gradient(119deg, #8766de 0, #4c7ff6 100%);', #635aa4),
  (zendesk, 'linear-gradient(59deg, #2e9d89 0, #90d44b 100%)', #067864),
  (autocompletejs, 'linear-gradient(to top right, #377d1c, #13b7bd)', #377d1c),
  (hackernews, 'linear-gradient(to right, #fea925, #f58823)', #fea925),
  (supersearch, 'linear-gradient(306deg, #1b6185 0, #723790 100%)', #47185e),
  (githubsearch, 'linear-gradient(149deg, #7f9dc4 0, #382a5b 100%)',#989ca0 ),
  (swag, 'linear-gradient(to bottom, #87689b 0, #ec3b70 100%)', #87689b ),
  (talks, 'linear-gradient(357deg, #1d3657 0, #b25e5e 100%)', #1d3657),
  (publicdatas, 'linear-gradient(to bottom, #178461 0, #308a3e 100%)', #178461),
  (expectjs, 'linear-gradient(194deg, #685aa7 0, #1d3657 100%)', #685aa7), 
  (newsletter, 'linear-gradient(140deg, #35a4c9 0, #13c4a5 100%)', #35a4c9)
);

$icon-colors:(
  'pink': $light-pink
);

$searchbox: (
  input-width: 500px,
  input-height: 40px,
  border-width: 3px,
  border-radius: 0px,
  input-border-color: #fff,
  input-focus-border-color: #fff,
  input-background: #001B3A,
  input-focus-background: #001B3A,
  font-size: .9em,
  placeholder-color: #EEE,
  icon-size: 24px,
  icon-position: left,
  icon-color: #fff,
  icon-background: #3e82f7,
  icon-background-opacity: 0,
  icon-clear-size: 16px
);

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$headings-font-family: "Raleway", "Times New Roman", Times, serif;

$grid-gutter-width: 10px;
