$_debug: false;

$cabaret: #E7486B;
$rouge: #9C4274;
$sea-green: #13C4A5;
$blue-green: #10A4B8;
$violet: #8A63B3;
$chambray: #3B5295;
$sunset-orange: #F6624E;
$saffron-mango: #FDBD57;
$light-pink: #ff66b7;
$ic-pink: rgb(255, 102, 183);
$gray: #e9eaed;

$primary-color: #1F3B5D;
$secondary-color: #F3F4F7;
$tertiary-color: #8191B1;

$brand-primary: #46AEDA;
$brand-secondary: #FA3870;
$brand-success: #32B28C;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #ff5f5f;

// Share colors
$purple-github: #9f6ecb;
$blue-facebook: #4a75dd;
$blue-twitter: #46aeda;
$orange-producthunt: #da552f;

$social-links: (
  'twitter': "<svg width=\'25px\' height=\'20px\' viewBox=\'0 0 25 20\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' xmlns:sketch=\'http://www.bohemiancoding.com/sketch/ns\'><!-- Generator: Sketch 3.5.2 (25235) - http://www.bohemiancoding.com/sketch --><title>icon-twitter</title><desc>Created with Sketch.</desc><defs></defs><g id=\'Page-1\' stroke=\'none\' stroke-width=\'1\' fill=\'none\' fill-rule=\'evenodd\' sketch:type=\'MSPage\'><g id=\'Desktop-HD\' sketch:type=\'MSArtboardGroup\' transform=\'translate(-887.000000, -31.000000)\' fill=\'#FFFFFF\'><g id=\'header\' sketch:type=\'MSLayerGroup\' transform=\'translate(-44.000000, 0.000000)\'><path d=\'M955.610581,33.3674876 C954.70585,33.7696458 953.732178,34.0409152 952.710546,34.162312 C953.753659,33.5378428 954.55348,32.5486836 954.930659,31.3686866 C953.954988,31.9476945 952.874906,32.3678373 951.724384,32.5946446 C950.803667,31.6134785 949.491282,31 948.039017,31 C945.250887,31 942.990308,33.2605785 942.990308,36.0492082 C942.990308,36.4443723 943.03477,36.8295449 943.121197,37.1997302 C938.924764,36.9889094 935.203927,34.9791177 932.713543,31.9242144 C932.278913,32.6695809 932.030124,33.5368437 932.030124,34.4630564 C932.030124,36.2145676 932.921367,37.7602538 934.276215,38.6654843 C933.448918,38.6390068 932.67008,38.4117001 931.989159,38.0335215 C931.98866,38.0545037 931.98866,38.0759854 931.98866,38.0974672 C931.98866,40.5433881 933.72918,42.5836539 936.039217,43.048259 C935.615577,43.1631613 935.169456,43.2251087 934.708847,43.2251087 C934.383124,43.2251087 934.066893,43.1936354 933.758655,43.1341859 C934.401609,45.139981 936.266024,46.6002398 938.475146,46.6407054 C936.747115,47.9950542 934.570465,48.802368 932.204476,48.802368 C931.797322,48.802368 931.395164,48.7783884 931,48.7314283 C933.2351,50.16471 935.888844,51 938.739921,51 C948.027527,51 953.10571,43.3065394 953.10571,36.6342109 C953.10571,36.4153969 953.101214,36.1970825 953.091722,35.9802668 C954.077884,35.2698706 954.934156,34.3801269 955.610581,33.3674876 L955.610581,33.3674876 Z\' id=\'icon-twitter\' sketch:type=\'MSShapeGroup\'></path></g></g></g></svg>",
  'facebook': "<svg width=\'10px\' height=\'20px\' viewBox=\'0 0 10 20\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' xmlns:sketch=\'http://www.bohemiancoding.com/sketch/ns\'><!-- Generator: Sketch 3.5.2 (25235) - http://www.bohemiancoding.com/sketch --><title>icon-facebook</title><desc>Created with Sketch.</desc><defs></defs><g id=\'Page-1\' stroke=\'none\' stroke-width=\'1\' fill=\'none\' fill-rule=\'evenodd\' sketch:type=\'MSPage\'><g id=\'Desktop-HD\' sketch:type=\'MSArtboardGroup\' transform=\'translate(-849.000000, -30.000000)\' fill=\'#FFFFFF\'><g id=\'header\' sketch:type=\'MSLayerGroup\' transform=\'translate(-44.000000, 0.000000)\'><path d=\'M902.293314,36.4760919 L899.128338,36.4760919 L899.128338,34.4003312 C899.128338,33.6207824 899.645001,33.4390395 900.008901,33.4390395 L902.242393,33.4390395 L902.242393,30.0120058 L899.166425,30 C895.751811,30 894.974746,32.5559925 894.974746,34.1916787 L894.974746,36.4760919 L893,36.4760919 L893,40.0074519 L894.974746,40.0074519 L894.974746,50 L899.128338,50 L899.128338,40.0074519 L901.93107,40.0074519 L902.293314,36.4760919 L902.293314,36.4760919 Z\' id=\'icon-facebook\' sketch:type=\'MSShapeGroup\'></path></g></g></g></svg>",
  'github': "<?xml version=\'1.0\' encoding=\'UTF-8\' standalone=\'no\'?><svg width=\'41px\' height=\'40px\' viewBox=\'0 0 41 40\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' xmlns:sketch=\'http://www.bohemiancoding.com/sketch/ns\'><!-- Generator: Sketch 3.5.2 (25235) - http://www.bohemiancoding.com/sketch --><title>icon-github</title><desc>Created with Sketch.</desc><defs></defs><g id=\'Page-1\' stroke=\'none\' stroke-width=\'1\' fill=\'none\' fill-rule=\'evenodd\' sketch:type=\'MSPage\'><g id=\'Desktop-HD\' sketch:type=\'MSArtboardGroup\' transform=\'translate(-803.000000, -733.000000)\' fill=\'#FFFFFF\'><g id=\'github\' sketch:type=\'MSLayerGroup\' transform=\'translate(714.000000, 685.000000)\'><g id=\'icon-github\' transform=\'translate(89.000000, 48.000000)\' sketch:type=\'MSShapeGroup\'><path d=\'M20.4981123,0 C9.17934866,0 0,9.17809018 0,20.5006292 C0,29.5579054 5.87332331,37.2409221 14.0194604,39.9516867 C15.0451211,40.1404586 15.4188895,39.5074434 15.4188895,38.9637803 C15.4188895,38.4767488 15.4012708,37.1880659 15.3912029,35.4777924 C9.68903281,36.7161362 8.48592652,32.7292735 8.48592652,32.7292735 C7.55339329,30.3608152 6.2093373,29.7303171 6.2093373,29.7303171 C4.34804629,28.4592529 6.35028699,28.4844225 6.35028699,28.4844225 C8.40790079,28.6291476 9.49019307,30.5974094 9.49019307,30.5974094 C11.3187636,33.7297646 14.288775,32.8249179 15.4566439,32.300132 C15.6428988,30.9762117 16.1727186,30.0726235 16.7579115,29.5604224 C12.2059916,29.0431873 7.41999447,27.2838331 7.41999447,19.4284048 C7.41999447,17.1908284 8.21912889,15.3597409 9.53046441,13.9275914 C9.31903987,13.4090979 8.61554989,11.3237975 9.73182111,8.50228675 C9.73182111,8.50228675 11.4521624,7.95107278 15.3685503,10.6039473 C17.003315,10.1483778 18.7576353,9.9218515 20.5006292,9.91304214 C22.2423647,9.9218515 23.9954265,10.1483778 25.6327082,10.6039473 C29.5465791,7.95107278 31.2644035,8.50228675 31.2644035,8.50228675 C32.3831916,11.3237975 31.6797016,13.4090979 31.4695356,13.9275914 C32.7833881,15.3597409 33.5762301,17.1908284 33.5762301,19.4284048 C33.5762301,27.3039688 28.7826821,29.0368949 24.2169189,29.5440621 C24.9518708,30.1770773 25.6075386,31.4280058 25.6075386,33.339636 C25.6075386,36.0806041 25.582369,38.2917524 25.582369,38.9637803 C25.582369,39.5124774 25.952362,40.1505264 26.9918659,39.9504282 C35.1317106,37.2333712 41,29.5553884 41,20.5006292 C41,9.17809018 31.8206513,0 20.4981123,0\' id=\'Fill-50\'></path></g></g></g></g></svg>",
  'producthunt': "<?xml version=\'1.0\' encoding=\'UTF-8\' standalone=\'no\'?><svg width=\'28px\' height=\'34px\' viewBox=\'0 0 28 34\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' xmlns:sketch=\'http://www.bohemiancoding.com/sketch/ns\'><!-- Generator: Sketch 3.5.1 (25234) - http://www.bohemiancoding.com/sketch --><title>icon-producthunt</title><desc>Created with Sketch.</desc><defs></defs><g id=\'Page-1\' stroke=\'none\' stroke-width=\'1\' fill=\'none\' fill-rule=\'evenodd\' sketch:type=\'MSPage\'><g id=\'-icon-search\' sketch:type=\'MSArtboardGroup\' transform=\'translate(-158.000000, -598.000000)\' fill=\'#FFFFFF\'><path d=\'M167.468354,620.810127 L174.764636,620.810127 C179.974557,620.810127 185.548507,615.901528 185.548507,609.405063 C185.548507,602.908599 180.097941,598 175.08553,598 L166.607595,598 L158,598 L158,632 L167.468354,632 L167.468354,620.810127 L167.468354,620.810127 Z M167.468354,605.316456 L171.912614,605.316456 C174.43189,605.316456 176.506329,606.578 176.506329,608.966341 C176.506329,611.354682 174.625771,613.063291 172.355098,613.063291 L167.468354,613.063291 L167.468354,605.316456 L167.468354,605.316456 L167.468354,605.316456 Z\' id=\'icon-producthunt\' sketch:type=\'MSShapeGroup\'></path></g></g></svg>"
);

// breakpoints
$bp-big: 1500px;
$bp-wide: 1200px;
$bp-medium: 960px;
$bp-small: 768px;

// Gradients
// @doc
//      class - gradient - first-color
$gradients: (
  (instantsearch, 'linear-gradient(to top right, #1d3657, #3e6790)',#1d3657 ),
  (docsearch,' linear-gradient(to bottom right, #254266, #167095)', #254266),
  (helperjs, 'linear-gradient(202deg, #3cafd4 0, #167195 100%)', #34a3c7),
  (magento, 'linear-gradient(to top right, #ff66b7, #dc6637)', #ff66b7),
  (jekyll, 'linear-gradient(119deg, #8766de 0, #4c7ff6 100%);', #635aa4),
  (zendesk, 'linear-gradient(59deg, #2e9d89 0, #90d44b 100%)', #067864),
  (autocompletejs, 'linear-gradient(to top right, #377d1c, #13b7bd)', #377d1c),
  (hackernews, 'linear-gradient(to right, #fea925, #f58823)', #fea925),
  (supersearch, 'linear-gradient(306deg, #1b6185 0, #723790 100%)', #47185e),
  (githubsearch, 'linear-gradient(149deg, #7f9dc4 0, #382a5b 100%)',#989ca0 ),
  (swag, 'linear-gradient(to bottom, #87689b 0, #ec3b70 100%)', #87689b ),
  (talks, 'linear-gradient(357deg, #1d3657 0, #b25e5e 100%)', #1d3657),
  (publicdatas, 'linear-gradient(to bottom, #178461 0, #308a3e 100%)', #178461),
  (expectjs, 'linear-gradient(194deg, #685aa7 0, #1d3657 100%)', #685aa7), 
  (newsletter, 'linear-gradient(140deg, #35a4c9 0, #13c4a5 100%)', #35a4c9)
);

$icon-colors:(
  'pink': $light-pink
);

$searchbox: (
  input-width: 500px,
  input-height: 40px,
  border-width: 3px,
  border-radius: 0px,
  input-border-color: #fff,
  input-focus-border-color: #fff,
  input-background: #001B3A,
  input-focus-background: #001B3A,
  font-size: .9em,
  placeholder-color: #EEE,
  icon-size: 24px,
  icon-position: left,
  icon-color: #fff,
  icon-background: #3e82f7,
  icon-background-opacity: 0,
  icon-clear-size: 16px
);

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$headings-font-family: "Raleway", "Times New Roman", Times, serif;

$grid-gutter-width: 10px;
