$cabaret: #E7486B;
$rouge: #9C4274;
$sea-green: #13C4A5;
$blue-green: #10A4B8;
$violet: #8A63B3;
$chambray: #3B5295;
$sunset-orange: #F6624E;
$saffron-mango: #FDBD57;

$primary-color: #1F3B5D;
$secondary-color: #F3F4F7;
$tertiary-color: #8191B1;

$brand-primary: #46AEDA;
$brand-secondary: #FA3870;
$brand-success: #32B28C;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #ff5f5f;

// Gradients
// @doc
//      class - gradient - first-color
$gradients: (
  (instantsearch, 'linear-gradient(to top right, #1d3657, #3e6790)',#1d3657 ),
  (docsearch,' linear-gradient(to bottom right, #254266, #167095)', #254266),
  (helperjs, 'linear-gradient(to top right, #34a3c7, #177296)', #34a3c7),
  (magento, 'linear-gradient(to top right, #ff66b7, #dc6637)', #ff66b7),
  (salesforce, 'linear-gradient(to bottom right, #635aa4, #c870da)', #635aa4),
  (zendesk, 'linear-gradient(to top right, #067864, #87cf4c)', #067864),
  (autocompletejs, 'linear-gradient(to top right, #377d1c, #13b7bd)', #377d1c),
  (hackernews, 'linear-gradient(to right, #fea925, #f58823)', #fea925),
  (supersearch, 'linear-gradient(to top right, #47185e, #195aac)', #47185e),
  (githubsearch, 'linear-gradient(to top right, #989ca0, #65686d)',#989ca0 )
);


$searchbox: (
  input-width: 500px,
  input-height: 40px,
  border-width: 3px,
  border-radius: 0px,
  input-border-color: #fff,
  input-focus-border-color: #fff,
  input-background: #001B3A,
  input-focus-background: #001B3A,
  font-size: .9em,
  placeholder-color: #EEE,
  icon-size: 24px,
  icon-position: left,
  icon-color: #fff,
  icon-background: #3e82f7,
  icon-background-opacity: 0,
  icon-clear-size: 16px
);

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$headings-font-family: "Raleway", "Times New Roman", Times, serif;

$grid-gutter-width: 10px;
